.mc-custom-container {
  width: 100%;
  height: 100%;
}
.my-widget {
  width: 100%;
  height: 100%;
}

.lrn-btn-save {
  background-color: #489583 !important;
}


.lrn-region-group.lrn-group-top {
  display: none !important;
}
.lrn-author-widget-icon:before {
  color: rgb(72, 149, 131) !important;
  &:hover {
    color: rgb(72, 149, 131) !important;
  }
}
