@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
// Variables
// Colors
$black: rgba(35, 35, 35, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(21, 101, 192, 1);
$lightBlue: rgba(21, 101, 192, 0.12);
$disabled: rgba(0, 0, 0, 0.38);
// Box Shadows
$toolbarShadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.1);
.StyledAppbar {
  .StyledToolbar {
    // Buttons
    .SelectButton_video {
      // positioning
      display: grid !important;
      grid-template-columns: var(--grid-template-columns) !important;
      // size
      width: var(--width) !important;
      min-width: var(--min-width) !important;
      height: var(--height);
      color: $black;
      // box model
      box-shadow: none !important;
      padding: var(--padding) !important;
      border: none;
      border-radius: 0.25rem !important;

      // color
      // color: var(--active) !important;
      background-color: transparent;

      // formating
      font-size: var(--font-size) !important;
      font-weight: 400 !important;
      line-height: 1.5rem !important;
      letter-spacing: 0.009375rem !important;
      white-space: nowrap;
      text-transform: none !important;

      &.alt-active-bg {
        background: rgba(21, 101, 192, 0.04) !important;
      }

      // Text
      & span {
        justify-self: flex-start;
      }

      // icon svg
      & svg {
        align-self: center;
        justify-self: center;
        padding: 0rem;
        fill: var(--active);
        opacity: var(--disabled);
        transform: var(--svg);
      }

      // hover, active, focus states
      &:hover,
      &:active,
      &:focus-visible,
      &:focus {
        background-color: var(--hover-background-color);
        box-shadow: none;
        cursor: pointer;
        color: $blue !important;
        & svg {
          fill: $blue;
        }
      }
      // disabled state
      &:disabled {
        color: var(--disabled);
        cursor: not-allowed;
        background-color: $white;
      }
    }

    .StyledSelectPaper {
      .StyledMenu {
        .validYouTubeURL {
          min-width: 10rem;
          max-width: 12.5rem;
          background-color: $white;
          overflow-x: clip;
          text-overflow: ellipsis;
          vertical-align: top;
          white-space: nowrap;
          height: 1.25rem;
          font-family: Inter;
          font-style: normal;
          font-weight: 400;
          font-size: 0.875rem;
          text-decoration-line: underline;
          color: $blue;
        }
      }
    }
  }
}
