.iFrameContainer {
  pointer-events: var(--pointer);

  .toolbarWrapper {
    background-color: transparent;
  }

  .iFrameDisplayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iFrameAddContainer {
    width: 100%;
    min-height: 9.5rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .iFrameAddButton {
      background: rgba(21, 101, 192, 1);
      color: #fff;
      padding: 0.5rem 1.375rem;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 0.9375rem;
      line-height: 1.625rem;

      &:focus {
        outline: 2px solid rgba(0, 0, 0, 1);
      }
    }
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
