.iFrameModalContainer {
  width: 19.5rem;
  height: 24.9375rem;
  border-radius: 0.25rem;
  border-top: 0.25rem solid #1565C0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  position: fixed;
  top: 5rem;
  left: 50%;
  background: #fff;
  transform: translateX(-50%);
  z-index: 1000;
  box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.1);

  .iFrameModalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.875rem 1.32375rem 0.75rem 1rem;
    border-bottom: 0.0625rem solid #E0E0E0;

    & span {
      font-size: 0.875rem;
      font-weight: 500;
      color: #000000;
    }

    .closeModal {
      border: none;
      background: #fff;
      padding: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .modalMainContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;

    .iFrameModalSizeContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      letter-spacing: 0.009375rem;

      .labelFlexContainer {
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        line-height: 1.25125rem;
        margin-right: 2rem;

        .inputFlexContainer {
          display: flex;
          align-items: center;
          margin-top: 1rem;
          font-size: 1rem;
          line-height: 1.5rem;

          .sizeInput {
            border-radius: 0.25rem;
            border: 0.0625rem solid #E0E0E0;
            width: 4.375rem;
            height: 2.5rem;
            padding: 0.625rem 0.5rem;
            margin-right: 0.625rem;
            font-size: 1rem;
            line-height: 1.5rem;

            &:focus-visible {
              border: 0.0625rem solid #1565C0;
            }
          }
        }
      }
    }
    
    .modalDetailsContainer {
      display: flex;
      flex-direction: column;
      width: 17.5rem;
      margin-top: 2rem;
    
      .linkInput {
        margin-top: 1rem;
      }
    }

    .addButton {
      border: none;
      background: #fff;
      color: #1565C0;
      font-family: "Inter", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: 0.025rem;
      align-self: flex-end;
      margin-top: 1rem;

      &:hover {
        cursor: pointer;
      }

      &:disabled {
        color: #00000042;

        &:hover {
          cursor: default;
        }
      }
    }
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}