.openInNewTabLayoutContainer {
  width: 100%;
  height: 9.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .openInNewTabContainer {
    width: 45rem;
    height: 6rem;
    background: #00000005;
    border: 0.0625rem dashed #00000026;
    display: flex;
    justify-content: center;
    align-items: center;

    .openInNewTabButton {
      background: #1565C0;
      color: #FFF;
      text-transform: capitalize;
      padding: 0.75rem 1.4375rem 0.75rem 1.25rem;
      border-radius: 0.3125rem;
    }
  }
}