.iFrameToolbarContainer {
  width: 8.8125rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  background: #fff;
  color: #232323;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.009375rem;
  box-shadow: 0px 0px 3px 0px rgba(35, 35, 35, 0.15),
    -1px 0px 5px 0px rgba(161, 162, 163, 0.2),
    3px 3px 4px 0px rgba(35, 35, 35, 0.15);
  cursor: pointer;
  display: var(--active);

  &:hover {
    color: #1565c0;
  }
}
