@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.ql-container.ql-snow {
  font-size: 16px;
  letter-spacing: 0.15px;
  border: none !important;
}

.ql-clipboard {
  position: fixed;
}
.ql-editor.ql-blank::before {
  content: none;
}
.ql-editor.ql-blank::after {
  color: rgba(0,0,0,0.12);
  content: attr(data-placeholder);
  pointer-events: none;
  display: block;
  content: attr(data-placeholder);
  letter-spacing: 0.15px;
  line-height: 24px;

}

.ql-editor.ql-blank {
  line-height: 24px;
}

// .ql-editor > ul > li{
//   .ql-indent-1::before{
//     content: ">" !important;
//   }
// }

.ql-editor ul  {
  .ql-indent-1::before {
    content: "o" !important;
    font-size: 10px !important;
  }
  .ql-indent-3::before {
    content: "o" !important;
    font-size: 10px !important;
  }
  .ql-indent-5::before {
    content: "o" !important;
    font-size: 10px !important;
  }
  .ql-indent-7::before {
    content: "o" !important;
    font-size: 10px !important;
  }
  .ql-indent-9::before {
    content: "o" !important;
    font-size: 10px !important;
  }
}

.quill.quillEditor {
  font-family: "Inter", sans-serif;
  line-height: 24px;
  background-color: #fff;

  &::placeholder {
    font-style: normal;
    color: rgba(0, 0, 0, 0.12) !important;
    font-weight: 400;
  }

  .ql-editor.ql-blank::before {
    color: rgba(0, 0, 0, 0.12) !important;
    font-weight: 400;
  }
}

.hidetool {
  display: none;
}

.showtool {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0px;
}

.link-error-message-container {
  display: block;
  margin-top: 6px;
  position: relative;

  .link-error-message {
    position: absolute;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9)
      ),
      #d32f2f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    left: -12px;

    width: 255px !important;
    height: 30px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;

    span {
      padding-left: 10px;
      color: #541313;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.ql-tooltip.ql-editing > input {
  width: 170px;
  height: 26px;
  padding: 3px 5px;
  border: none;

  &.input-error {
    color: #d32f2f !important;
  }
  &:focus {
    outline: none !important;
  }
}

.ql-snow .ql-tooltip > span.trash-icon > button {
  background: none;
  color: inherit;
  border: none;
  padding: 4px 9px;
  outline: inherit;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background-color: rgba(21, 101, 192, 0.12) !important;
    > svg {
      color: black !important;
    }
  }
  &:active {
    cursor: pointer;
    background-color: rgba(21, 101, 192, 0.12) !important;
    > svg {
      color: #1565c0 !important;
    }
  }
}

.ql-snow .ql-tooltip > span.pencil-icon > button {
  margin-left: 10px;
  background: none;
  color: inherit;
  border: none;
  padding: 4px 6px;
  outline: inherit;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background-color: rgba(21, 101, 192, 0.12) !important;
    > svg {
      color: black !important;
    }
  }
  &:active {
    cursor: pointer;
    background-color: rgba(21, 101, 192, 0.12) !important;
    > svg {
      color: #1565c0 !important;
    }
  }
}

.text-editor {
  border: 1px solid transparent;
}

.fakeFocus {
  border: 1px solid #000 !important;
}

.ql-snow .ql-tooltip.ql-editing > span.apply-link-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #1565c0;
  margin-left: 10px;

  &.disabled {
    color: #89b1df !important;
    & > button {
      background: none;
      color: inherit;
      border: none;
      cursor: default;
      padding: 4px 9px;

      &:hover {
        background-color: transparent !important;
      }
    }
  }

  > button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    padding: 4px 9px;
    &:hover {
      background-color: rgba(21, 101, 192, 0.12);
      border-radius: 4px;
    }
  }
}

