@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.mainContainer {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  max-width: 100%;
  margin: auto;
  height: auto;
  min-height: 72px;
  padding: 16px 104px;
  letter-spacing: 0.15px;
  border: 1px solid transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
