@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
// Variables
// Colors
$black: rgba(35, 35, 35, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(21, 101, 192, 1);
$lightBlue: rgba(21, 101, 192, 0.12);
$disabled: rgba(0, 0, 0, 0.38);
// Box Shadows
$toolbarShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

.mathpix-draw-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-left: 16px;
  padding-right: 21.18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #e0e0e0;
  span {
    margin-top: 4px;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 21.98px;
    letter-spacing: 0.1px;
    color: rgba(35, 35, 35, 1);
  }
  button {
    height: 24px;
    width: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}

.latex-renderer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f2f2f5;
  height: 65px;
  width: 560px;
  font-size: 14px;
}

.canvas-draw-container {
  margin-top: 16px;
  height: 200px;
  width: 560px;
  cursor: crosshair;
}

.canvas-draw {
  display: block;
  height: 200px;
  width: 560px;
  border: 0.5px solid rgba(224, 224, 224, 1);
  border-radius: 4px;
}

.canvas-buttons-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  width: 40px;
  height: 108px;
  gap: 0px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-left: 8px;
  margin-top: -150px;

  button {
    height: 24px;
    width: 24px;
    background-color: transparent !important;
    cursor: pointer;
    padding: 0;
    border: none;
    svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
      background-color: none !important;
      & path {
        color: $black !important;
        fill: $black !important;
        fill-opacity: 1;
      }
    }
    &:hover,
    &:active,
    &:focus-visible {
      background-color: transparent !important;
      box-shadow: none;
      cursor: pointer;
      svg {
        color: $blue;
        & path {
          color: $blue !important;
          fill: $blue !important;
          fill-opacity: 1;
        }
      }
    }
    // disabled state
    &:disabled {
      svg {
        color: $disabled;
        cursor: none;
        & path {
          color: $disabled !important;
          fill: $disabled !important;
          fill-opacity: 0.38;
        }
      }
    }
  }
}

.insert-button-container {
  margin: 22px 0px;
  display: flex;
  flex-direction: row-reverse;
}

.insert-button {
  color: #1565c0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
  background: none;
}

.Insert-Button {
  display: flex;
  flex-direction: row;

  button {
    height: 36px;
    width: 57px;
    background-color: none;
    border: none;
    &:hover,
    &:active,
    &:focus-visible {
      background-color: none;
      box-shadow: none;
      cursor: pointer;
      color: $blue !important;
    }
    // disabled state
    &:disabled {
      color: $disabled;
      cursor: none;
      background-color: $white;
    }
  }
}

.CanvasPlaceholder {
  position: absolute;
  // display: flex;
  gap: 14px;
  margin-top: -110px;
  margin-left: 210px;

  span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    /* identical to box height, or 20px */

    text-align: center;
    letter-spacing: 0.15px;

    /* Light/Text/Disabled */

    color: rgba(0, 0, 0, 0.38);
  }
}

.crop-image-container {
  img {
    border: 5px solid #540001 !important;
  }
}

.cropper-modal {
  background-color: none !important;
  opacity: 0 !important;
}

.cropper-view-box {
  outline-color: #8ab2df !important;
}

.cropper-point.point-e,
.cropper-point.point-w {
  width: 4px !important;
  height: 8px !important;
}

.cropper-point.point-n,
.cropper-point.point-s {
  height: 4px !important;
  width: 8px !important;
}

.change-image {
  display: flex !important;
  align-items: center;
  input[type="file"] {
    display: none;
  }
}

.converted-image-main-container {
  width: 560px;
  margin: 0px 16px 32px 16px;
  display: flex;
  gap: 19px;
  flex-direction: row;
}

.original-image-container,
.result-image-container {
  span {
    display: block;
  }
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-div {
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.original-div-result {
  align-items: center;
}

.image-div-result {
  max-height: 270px;
  max-width: 270px;
  overflow: scroll;
  overflow-x: scroll;
}

.original-image {
  width: 211px;
  height: 115px;
}

.accuracy-rate-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 16px;
  margin-right: 16px;
}

.accuracy-info,
.response-formula-title {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #232323;
  padding-bottom: 16px;
}

.response-formula-container {
  margin: 0px 16px 22px 16px;
}

.response-formula-info-container {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  margin-top: 16px;
  max-height: 100px;
  overflow: scroll;
}

.crop-insert-button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 22px;
  margin-bottom: 22px;
  margin-right: 16px;
}

.btnStyles {
  display: inline-block;
  text-align: center;
  width: fit-content;
  background: white;
  height: 40;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  cursor: pointer;
  word-spacing: 2px;
  border: none;
}

.cropBtns {
  color: $blue !important;
}
