// The comments on the right are the pixel value of the font when html font: 16px
// They are commented for quick reference.
// Title/Header 1
@mixin header-1 {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 3rem; // 48px
  letter-spacing: 0.01em; // 1%
  font-weight: 500;
  line-height: 3.5rem; // 56px

  // Mobile
  @media (max-width: 560px) {
    font-size: 2.5rem; // 40px
    line-height: 3rem; // 48px
  }

  // Mobile (smallest)
  @media (max-width: 375px) {
    font-size: 2.25rem; // 36px
    line-height: 2.875rem; // 46px
  }
}

// Header 2
@mixin header-2 {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 2.125rem; // 34px
  letter-spacing: 0.01em; // 1%
  font-weight: 500;
  line-height: 3rem; // 48px

  // Mobile
  @media (max-width: 560px) {
    font-size: 2rem; // 32px
    line-height: 2.625rem; // 42px
  }

  // Mobile (smallest)
  @media (max-width: 375px) {
    font-size: 1.875rem; // 30px
    line-height: 2.25rem; // 36px
  }
}

// Header 3
@mixin header-3 {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 1.75rem; // 28px
  letter-spacing: 0.01em; // 1%
  font-weight: 500;
  line-height: 2.5rem; // 40px

  // Mobile
  @media (max-width: 560px) {
    font-size: 1.5rem; // 24px
    line-height: 2.25rem; //36px
  }
}

// Header 4
@mixin header-4 {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 1.25rem; // 20px
  letter-spacing: 0.0125em; // 1.25%
  font-weight: 500;
  line-height: 1.75rem; // 28px

  // Mobile
  @media (max-width: 560px) {
    font-size: 1.125rem; // 18px
    line-height: 1.625rem; // 26px
    letter-spacing: 0.01em; // 1%
  }
}

// Header 5
@mixin header-5 {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 1.125rem; // 18px
  letter-spacing: 0.02em; // 2%
  font-weight: 500;
  line-height: 1.75rem; // 28px

  // Mobile
  @media (max-width: 560px) {
    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px
    letter-spacing: 0.01em; // 1%
  }
}

// Header 6
@mixin header-6 {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 1rem; // 16px
  letter-spacing: 0.01em; // 1%
  font-weight: 500;
  line-height: 1.375rem; // 22px

  // Mobile
  @media (max-width: 560px) {
    font-size: 0.875rem; // 14px
    line-height: 1.25rem; // 20px
  }
}

// Body
@mixin body-text {
  // Desktop/tablet
  font-family: $body-font;
  font-size: 1.375rem; // 22px
  font-weight: 400;
  line-height: 2.125rem; // 34px
  color: $grey-900;
  word-break: break-word;

  // Mobile
  @media (max-width: 560px) {
    font-size: 1.25rem; // 20px
    line-height: 1.875rem; // 30px
  }
}

// Link
@mixin link-text {
  // Desktop/tablet
  font-family: $body-font;
  font-size: 1.375rem; // 22px
  font-weight: 500;
  line-height: 2.125rem; // 34px
  color: $primary-body-text;
  text-decoration: underline;
  text-decoration-color: $link-underline;
  text-decoration-thickness: 0.1875rem;
  text-underline-position: under;
  text-underline-offset: 0.0625rem;

  // Mobile
  @media (max-width: 560px) {
    font-size: 1.25rem; // 20px
    line-height: 1.875rem; // 30px
  }
}

@mixin link-text-image {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 1rem; // 16px
  font-weight: 500;
  line-height: 1.375rem; // 22px
  letter-spacing: 0.0125em; // 1.25%
  color: $grey-700;
  text-decoration: underline;
  text-decoration-color: $link-underline;
  text-decoration-thickness: 0.1875rem;
  text-underline-position: under;
  text-underline-offset: 0.0625rem;
}

// Bold
@mixin bold-text {
  // Desktop/tablet
  font-weight: bold;
}

// Image/video caption - description
@mixin image-description-text {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 1rem; // 16px
  letter-spacing: 0.0125em; // 1.25%
  font-weight: 500;
  line-height: 1.375rem; // 22px
  color: $grey-700;
  // Mobile styles stay the same
}

// Image/video caption - credit
@mixin image-credit-text {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 1rem; // 16px
  letter-spacing: 0.0125em; // 1.25%
  font-weight: 500;
  line-height: 1.375rem; // 22px
  font-style: italic;
  color: $grey-600;
  // Mobile styles stay the same
}

// Button text
@mixin button-text {
  // Desktop/tablet
  font-family: $header-font;
  font-size: 1rem; // 16px
  font-weight: 500;
  line-height: 1.375rem; // 22px
  letter-spacing: 0.02em; // 2%
  text-transform: capitalize;

  // Mobile
  @media (max-width: 560px) {
    font-size: 0.875rem; // 14px
    line-height: 1.25rem; // 20px
  }
}
