@mixin box-shadow {
    box-shadow: 0.375rem 0.375rem 1.25rem #0000000D;
}

@mixin box-shadow-darker {
    box-shadow: 0.375rem 0.375rem 1.25rem #00000033;
}

// By default, all elements use the :focus rule in global.scss,
// but this is here in case you need to re-apply this rule because
// something else (AMP) changes it.
@mixin outline-focus {
    outline: 0.125rem solid $tab-focus;
    outline-offset: 0.125rem;
}

@mixin text-label {
    font-family: $header-font;
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.03em;
    line-height: 1.6875rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin remove-last-child-btm {
    .wrapper {
        &:last-child {
          // This clears the bottom-margin that is added to text/other components
          margin-bottom: 0;
        }
      }
}

@mixin a-tag-style {
    a {
        @include link-text;
        padding-bottom: 0.1875rem;
        box-shadow: inset 0 0 0 0 $body-highlight;
        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        word-break: break-all;

        &:hover {
          box-shadow: inset 0 -40px 0 0 $body-highlight;
        }
    
        &:visited {
          text-decoration-color: $link-visited-underline;
        }
    
        &:focus-visible {
          outline: 0.125rem solid $link-focus;
          border-radius: 0.125rem;
        }
    
        .anchor-icon {
          font-family: $amp-icons-font;
          font-style: normal;
          font-weight: normal;
          line-height: 1.5rem;
          /* Font smoothing. That was taken from TWBS */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
}

@mixin a-tag-image-description {
  a {
    @include link-text-image;
    padding-bottom: 0.1875rem;
    box-shadow: inset 0 0 0 0 $body-highlight;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: inset 0 -40px 0 0 $body-highlight;
    }

    &:visited {
      text-decoration-color: $link-visited-underline;
    }

    &:focus-visible {
      outline: 0.125rem solid $link-focus;
      border-radius: 0.125rem;
    }

    .anchor-icon {
      font-family: $amp-icons-font;
      font-style: normal;
      font-weight: normal;
      line-height: 1.5rem;
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

@mixin strip-nested-text-component {
  .text-component {
      padding: 0;
      margin-bottom: 1.5rem;
  
      :is(ul, ol):first-child {
        margin-top: 0;
      }
  
      :is(p, ul, ol, li):last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
}

@mixin strip-nested-image-component {
  .img-component {
    padding: 0;
    margin-bottom: 1.5rem;
  }
  @include remove-last-child-btm;
}

@mixin strip-nested-video-component {
  .video-component {
    padding: 0;
    margin-bottom: 1.5rem;
  }
  @include remove-last-child-btm;
}