.infoBox-Paper {
  width: 100%;
  padding: 2.5rem 6.5rem 3.125rem 6.5rem;
  background: #ffffff !important;
}
.header-label-dropzone-contaier {
  width: 85.1%;
}
.drop-parent-Container {
  display: flex;
  justify-content: flex-end;
}
.infoBox-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 1.875rem;
}
.infoBox-textContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}
.infoBox-icon-container {
  width: 5rem;
}
.infoBox-header {
  width: 100%;
  min-height: 2.5rem;
  border: none;
  resize: none;
  background: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 2.48rem;
  color: rgba(35, 35, 35, 1);
  margin: 0;
  padding: 0;
  &::placeholder {
    color: rgba(35, 35, 35, 1);
  }
  &:focus {
    outline: none;
    &::placeholder {
      color: rgba(0, 0, 0, 0.12);
    }
  }
}

.infoBox-label {
  width: 100%;
  height: 1.25rem;
  padding: 0;
  border: none;
  resize: none;
  color: rgba(99, 99, 99, 1);
  background: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25125rem;
  letter-spacing: 0.009375rem;
  &::placeholder {
    color: rgba(99, 99, 99, 1);
  }
  &:focus {
    outline: none;
    &::placeholder {
      color: rgba(0, 0, 0, 0.12);
    }
  }
}

.infoBox-body {
  position: absolute;
  display: var(--infoBox-isValid);
  top: 0;
  left: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.009375rem;
  color: rgba(35, 35, 35, 1);
  background: #fafafa;
  width: 100%;
  height: 100% !important;
  border: none;
  resize: none;
  &::placeholder {
    color: rgba(35, 35, 35, 1);
  }
  &:focus {
    outline: none;
    &::placeholder {
      color: rgba(0, 0, 0, 0.12);
    }
  }
}

// Started here:- Sahil

.infobox-toolbar-wrapper {
  justify-content: center;
  background-color: none;
}

.infobox-dropzone-body {
  border-top: none;
  & .infobox-videoContainer {
    padding: 0px !important;
  }
  & .video-infobox {
    padding: 0px !important;
    width: 100% !important;
  }
  & .player-infobox {
    width: 100% !important;
  }
  & .mainContainer {
    padding: 16px !important;
  }
  & .video-container {
    width: 100% !important;
  }
  & .videoDescription {
    & .ql-container {
      padding: 0 !important;
    }
    & .ql-editor.ql-blank::before {
      padding: 0 !important;
    }
  }
  & .ql-container .ql-snow {
    padding: 16px !important;
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
