@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
// Variables
// Colors
$black: rgba(35, 35, 35, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(21, 101, 192, 1);
$lightBlue: rgba(21, 101, 192, 0.12);
$disabled: rgba(0, 0, 0, 0.38);
// Box Shadows
$toolbarShadow: 0px 1px 3px 0px rgba(35, 35, 35, 0.1),
  0px 2px 5px 0px rgba(161, 162, 163, 0.2),
  3px 3px 4px 0px rgba(35, 35, 35, 0.15);

// Entire Toolbar *Appbar*
.app-container {
  box-shadow: var(--boxShadow);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.15px;
  // Theme related - to match component side to authoring styles
  color: rgba(0, 0, 0, 0.87);
  background: none;
}

// Toolbar
.toolbar-container {
  // positioning
  display: flex !important;
  position: var(--position);
  align-items: center;
  height: 40px !important;
  min-height: 40px !important;
  // color
  background-color: $white;
  color: $black;
  box-shadow: var(--boxShadow);
  // box model
  border-left: var(--borderLeft);
  border-radius: 4px;
  & .MuiPaper-root {
    background-color: #fff;
  }
  padding: 8px 6px 8px 10px;
}

// Buttons
.dropdown-button-select {
  // positioning
  display: grid !important;
  grid-template-columns: var(--grid-template-columns) !important;
  // size
  width: var(--width) !important;
  min-width: var(--min-width) !important;
  height: var(--height);
  color: $black !important;
  // box model
  box-shadow: none !important;
  padding: var(--padding) !important;
  border: none;
  border-radius: 4px !important;
  margin-right: 10px !important;

  // color
  color: var(--active) !important;
  background-color: transparent !important;

  // formating
  font-size: var(--font-size) !important;
  font-weight: 400 !important;
  line-height: 1.5rem !important;
  letter-spacing: 0.009375rem !important;
  white-space: nowrap;
  text-transform: none !important;

  // Text
  & span {
    justify-self: flex-start;
    padding-left: 10px;
  }

  // icon svg
  & svg {
    align-self: center;
    justify-self: center;
    padding: 0px;
    fill: var(--active);
    opacity: var(--disabled);
    transform: var(--svg);
  }

  // hover, active, focus states
  &:hover,
  &:active,
  &:focus-visible {
    background-color: var(--hover-background-color);
    box-shadow: none;
    cursor: pointer;
    color: $blue !important;
    & svg {
      fill: $blue;
    }
  }
  // disabled state
  &:disabled {
    color: var(--disabled);
    cursor: not-allowed;
    // opacity: 0.3;
    background-color: $white;
  }
}

// InfoBox Icon Select / Header Size Select Toolbar Paper
.paper-select-styled {
  background: #ffffff;
  box-shadow: $toolbarShadow !important;
  border-radius: 4px;
  margin-left: var(--margin-left);
  margin-top: var(--margin-top);
  // width: var(--width);
  min-width: 109px;
  height: var(--height);
}
// Menu for Select
.styled-menu {
  display: grid;
  align-content: center;
  // height: 100%;
  width: var(--width);
  padding: var(--padding) !important;
  grid-template-rows: var(--gridTemplateRows) !important;
  grid-template-columns: var(--gridTemplateColumns) !important;
  align-items: center;
  justify-items: var(--justifyItems);
  // justify-content: center;
}

// Menu Items for Select
.styled-menu-item {
  min-height: 31px !important;
  height: var(--height);
  width: var(--width);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  letter-spacing: var(--letterSpacing);
  background-color: transparent;
  box-shadow: none;
  &:hover,
  &:active,
  &:focus-visible {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
  padding: 2px 16px !important;
}

// DONE
// Dropdown format options individual icons (Top Level)
.styled-icon-button {
  // positioning
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: $black;
  background: var(--background) !important;
  // size
  width: 30px;
  height: 30px;
  // border
  border: none;
  border-radius: 4px !important;
  padding: 0px 18.33px !important;
  // box model
  padding: 0px !important;
  margin: 0px;
  // icon svg
  & svg {
    fill: var(--active);
    opacity: var(--disabled);
    & path {
      fill: var(--active);
    }
  }

  // hover, active, focus states
  &:hover,
  &:active,
  &:focus-visible {
    cursor: pointer;
    background-color: $lightBlue !important;
    & svg {
      fill: $blue !important;
      & path {
        fill: $blue !important;
      }
    }
    > svg {
      color: $blue !important;
      & path {
        fill: $blue !important;
      }
    }
  }
  // disabled state
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

// Divider for formatting options
.styled-divider {
  height: 25px;
  width: 0.5px;
  background-color: #e0e0e0 !important;
  margin: 0 3.5px;
}

.StyledFormControlLabel {
  height: 24px;
  white-space: nowrap;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.009375rem;
  &:hover {
    background: transparent;
    color: rgba(21, 101, 192, 1);
  }
  &.Mui-checked {
    background: transparent;
    color: rgba(21, 101, 192, 1);
  }
}

.StyledCheckboxMenu {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 7px 0 0 0 !important;
  padding: 23px, 0, 23px, 27.5 !important;
  width: var(--width) !important;
  height: var(--height) !important;
}
