.styled-reveal-title {
  background-color: rgba(21, 101, 192, 0);
  -webkit-box-orient: vertical;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  min-height: 1.5625rem;
  line-height: 1.5;
  resize: none;
  overflow: hidden;
  text-overflow: hidden;
  display: -webkit-box;
  font-family: "Inter", sans-serif;
  &.view-only {
    color: black;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.4375rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.0625rem rgba(255, 255, 255, 0.5);
  }
  &::placeholder {
    &.active {
      color: #232323;
    }

    &:view-only {
      color: black;
    }
    opacity: 1;
    text-align: center;
  }

  &:focus {
    border: none;
    outline: none;

    &::placeholder {
      color: black;
      &.view-only {
        color: #232323;
      }
      opacity: 0.6;
      text-align: center;
    }
  }

  &::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    &.active {
      color: #232323;
    }
  }
}

.styled-reveal-placeholder {
  width: 100%;
  max-height: 3.125rem;
  font-size: 1.125rem;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  text-align: center;
  -webkit-line-clamp: 2;

  &.active {
    -webkit-line-clamp: unset;
  }
}
