.StyledRevealContainer {
  width: 100%;
  border-radius: 0.625rem;
}
.StyledReveal {
  background-color: #ffffff;
  &::before {
    background-color: transparent;
  }
}
.borderRadius_expanded {
  border-radius: 0.625rem 0.625rem 0 0;
}
.borderRadius_notexpanded {
  border-radius: 0.625rem;
}
