.StyledPaneContainer {
  width: 100%;
}
.reveal_summary {
  min-height: 2.5rem;
  max-height: 4.125rem;
  opacity: 1 !important;
  width: 100%;
  padding: 1rem 0.71875rem 1rem 0.71875rem;
  font-size: 1.125rem;
  color: #232323;
  letter-spacing: 0.009375rem;
}
.reveal_summary:active {
  background-color: rgba(21, 101, 192, 0.12) !important;
}
.reveal_summary:hover {
  background-color: rgba(21, 101, 192, 0.12) !important;
}
.reveal_summary:focus {
  background-color: rgba(21, 101, 192, 0.12) !important;
}
.reveal_summary .MuiAccordionSummary-expandIconWrapper {
  align-self: center;
}
.reveal_summary .MuiAccordionSummary-content {
  flex-grow: 0;
}

.reveal_summary_active {
  background-color: rgba(21, 101, 192, 0.12) !important;
  border-radius: 0.625rem 0.625rem 0 0 !important;
  border-width: 0.0625rem 0.0625rem 0.1875rem 0.0625rem !important;
  border-color: #232323 !important;
  border-style: solid;
}

.reveal_summary_inactive {
  background-color: #eeeeee;
  border-radius: 0.625rem;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #bdbdbd;
}

.reveal_summary_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: -0.75rem 0 -0.75rem 0;
}
.border_radius {
  border-radius: 0.625rem;
}
.border_radius_expand {
  border-radius: 0.625rem 0.625rem 0 0;
}
