---
{
"result":
{"__typename":"LessonStructureContainer","id":"63ef874b2f3557ab437ab484","type":"lesson","name":"iFrame","courseCode":"AMP123","description":"","indexInParent":7,"componentContainer":{"__typename":"ComponentContainer","id":"63ef874b2f3557ab437ab485","lastUpdateID":"914912","title":"iFrame","sections":[{"__typename":"Section","id":"63efa90b75f0e3ed6a491739","type":"NONLEARNING","locked":false,"components":[{"id":"63efabd46dc6781e41a9067e","componentName":"Text","props":{"body":"
<p>The following 3 ILOs are set with the default size (height: 500px width: 900px):</p>
"},"locked":false},{"id":"63efac366dc6781e41a9212f","componentName":"IFrame","props":{"title":"Calculators","src":"https://dcc.ilc.org/bdi3c/15/calculators/index.html","height":500,"width":900},"locked":false},{"id":"63efac216dc6781e41a91f1d","componentName":"IFrame","props":{"title":"Business
types","src":"https://dcc.ilc.org/bbb4m/02/business_types/index.html","height":500,"width":900},"locked":false},{"id":"63efa90e75f0e3ed6a49187b","componentName":"IFrame","props":{"title":"Natural
disasters","src":"https://dcc.ilc.org/cgc1p_f/01/natural_disasters/index.html","height":500,"width":900},"locked":false},{"id":"63efac096dc6781e41a91c13","componentName":"Text","props":{"body":"
<p>The following 3 ILOs are set with varying widths (800, 650, 450px respectively) just for an example of how these
    widths will display in lessons:</p>
"},"locked":false},{"id":"63efac9d6dc6781e41a928a0","componentName":"IFrame","props":{"title":"Comic
strip","src":"https://dcc.ilc.org/olc4o/08/comics_strip/index.html","height":500,"width":"800"},"locked":false},{"id":"63efacfcd8321c1121b27050","componentName":"IFrame","props":{"title":"Snowman
game","src":"https://dcc.ilc.org/bbb4m/02/snowman/index.html","height":500,"width":"650"},"locked":false},{"id":"63efad4fd8321c1121b273ae","componentName":"IFrame","props":{"title":"Income
statement","src":"https://dcc.ilc.org/bbi2o/10/income_statement_1/index.html","height":500,"width":"450"},"locked":false}]}],"parentCourseID":"63ef870f3b579c2c346e91f6","createdAt":"1676642123086","updatedAt":"1676651898387"},"path":[{"id":"63ef870f3b579c2c346e91f7","type":"unit","name":"","indexInParent":0}],"index":6,"quizReferences":[],"HTMLFilename":"U01_L08","lessonPath":"U01_L08","tenantData":{"brightcoveAccountId":"23648095001","brightcovePolicyKey":"BCpkADawqM0aUZtfCvrLXpdoRcRxqMw2xSWMkTuGLEdbP4URyJRFB643tzqk1xFEmnnA8aSBdxgvSZ4FFM2W-r3kGe8feBtXCfuM1w3SpjmEaI8_VwxsnjcFCfU","brightcovePlayer":"dykQDka9h","imageTenantUrl":"https://d1qstiujtcw6eg.cloudfront.net","bucketName":"s3-coursepublished-tenant1-qa01-cac1-01","imgKey":"63ef870f3b579c2c346e91f6/1/amp/lessons/assets/","serviceUrl":"https://sih-qa.tvopublishing.com"}},
"layout": "amp-layout.njk",
"permalink": "iframe-amp.html",
}
---

<h1 class="tgt-header">iFrame {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-script.html %}