---
{
"result":
{"__typename":"LessonStructureContainer","id":"63ef87203b579c2c346e93ee","type":"lesson","name":"Image","courseCode":"AMP123","description":"","indexInParent":3,"componentContainer":{"__typename":"ComponentContainer","id":"63ef87203b579c2c346e93ef","lastUpdateID":"726164","title":"Image","sections":[{"__typename":"Section","id":"63ef8a594bc668e04dd201b1","type":"NONLEARNING","locked":false,"components":[{"id":"63ef8a5d4bc668e04dd20217","componentName":"Image","props":{"imgSize":{"width":532,"height":650},"uploadedImg":{"375":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM3NSwiaGVpZ2h0Ijo0NTguMTc2NjkxNzI5MzIzMywiZml0IjoiY292ZXIifX19","532":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUzMiwiaGVpZ2h0Ijo2NTAsImZpdCI6ImNvdmVyIn19fQ==","560":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU2MCwiaGVpZ2h0Ijo2ODQuMjEwNTI2MzE1Nzg5NSwiZml0IjoiY292ZXIifX19","759":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjc1OSwiaGVpZ2h0Ijo5MjcuMzQ5NjI0MDYwMTUwMywiZml0IjoiY292ZXIifX19","960":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjk2MCwiaGVpZ2h0IjoxMTcyLjkzMjMzMDgyNzA2NzcsImZpdCI6ImNvdmVyIn19fQ==","1024":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6MTI1MS4xMjc4MTk1NDg4NzIxLCJmaXQiOiJjb3ZlciJ9fX0="},"alt":"Old
man posing with a book wearing fancy pyjamas","customAltTextOptionSelected":"Custom alt text","longDesc":"<p>Portrait of
    an old man with a book wearing fancy pyjamas.</p>","credit":"<p>Unsplash</p>
","imageTextSettings":{"description":true,"credit":true,"fullWidth":false},"imgLink":null,"caption":null,"srcset":"\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM3NSwiaGVpZ2h0Ijo0NTguMTc2NjkxNzI5MzIzMywiZml0IjoiY292ZXIifX19
375w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU2MCwiaGVpZ2h0Ijo2ODQuMjEwNTI2MzE1Nzg5NSwiZml0IjoiY292ZXIifX19
560w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjc1OSwiaGVpZ2h0Ijo5MjcuMzQ5NjI0MDYwMTUwMywiZml0IjoiY292ZXIifX19
759w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjk2MCwiaGVpZ2h0IjoxMTcyLjkzMjMzMDgyNzA2NzcsImZpdCI6ImNvdmVyIn19fQ==
960w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6MTI1MS4xMjc4MTk1NDg4NzIxLCJmaXQiOiJjb3ZlciJ9fX0=
1024w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUzMiwiaGVpZ2h0Ijo2NTAsImZpdCI6ImNvdmVyIn19fQ==
532w\n ","sizes":"(max-width: 375px) 375px, (max-width: 560px) 532px,
532px"},"locked":false},{"id":"63efa868f261cffb1ccb1f4e","componentName":"Image","props":{"imgSize":{"width":500,"height":650},"uploadedImg":{"375":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM3NSwiaGVpZ2h0Ijo0ODcuNSwiZml0IjoiY292ZXIifX19","500":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUwMCwiaGVpZ2h0Ijo2NTAsImZpdCI6ImNvdmVyIn19fQ==","560":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU2MCwiaGVpZ2h0Ijo3MjgsImZpdCI6ImNvdmVyIn19fQ==","759":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjc1OSwiaGVpZ2h0Ijo5ODYuNywiZml0IjoiY292ZXIifX19","960":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjk2MCwiaGVpZ2h0IjoxMjQ4LCJmaXQiOiJjb3ZlciJ9fX0=","1024":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6MTMzMS4yLCJmaXQiOiJjb3ZlciJ9fX0="},"alt":"","customAltTextOptionSelected":"","longDesc":"
<p>Locally nicknamed &quot;La dame de fer&quot; (French for &quot;Iron Lady&quot;), it was constructed from 1887 to 1889
    as the centerpiece of the 1889 World&#x27;s Fair. Although initially criticised by some of France&#x27;s leading
    artists and intellectuals for its design, it has since become a global cultural icon of France and one of the most
    recognisable structures in the world.</p>
","credit":"","imageTextSettings":{"description":true,"credit":false,"fullWidth":false},"imgLink":null,"caption":null,"srcset":"\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM3NSwiaGVpZ2h0Ijo0ODcuNSwiZml0IjoiY292ZXIifX19
375w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU2MCwiaGVpZ2h0Ijo3MjgsImZpdCI6ImNvdmVyIn19fQ==
560w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjc1OSwiaGVpZ2h0Ijo5ODYuNywiZml0IjoiY292ZXIifX19
759w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjk2MCwiaGVpZ2h0IjoxMjQ4LCJmaXQiOiJjb3ZlciJ9fX0=
960w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMjQsImhlaWdodCI6MTMzMS4yLCJmaXQiOiJjb3ZlciJ9fX0=
1024w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvbHVjYXMtYWxidXF1ZXJxdWUtVWNBMWZYQnlGc3MtdW5zcGxhc2ggMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUwMCwiaGVpZ2h0Ijo2NTAsImZpdCI6ImNvdmVyIn19fQ==
500w\n ","sizes":"(max-width: 375px) 375px, (max-width: 560px) 500px,
500px"},"locked":false},{"id":"63efa8abf261cffb1ccb3996","componentName":"Image","props":{"imgSize":{"width":755,"height":565},"uploadedImg":{"375":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6Mzc1LCJoZWlnaHQiOjI4MC42MjkxMzkwNzI4NDc3LCJmaXQiOiJjb3ZlciJ9fX0=","560":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NTYwLCJoZWlnaHQiOjQxOS4wNzI4NDc2ODIxMTkyMywiZml0IjoiY292ZXIifX19","755":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NzU1LCJoZWlnaHQiOjU2NSwiZml0IjoiY292ZXIifX19","759":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NzU5LCJoZWlnaHQiOjU2Ny45OTMzNzc0ODM0NDM3LCJmaXQiOiJjb3ZlciJ9fX0=","960":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6OTYwLCJoZWlnaHQiOjcxOC40MTA1OTYwMjY0OTAxLCJmaXQiOiJjb3ZlciJ9fX0=","1024":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MTAyNCwiaGVpZ2h0Ijo3NjYuMzA0NjM1NzYxNTg5NSwiZml0IjoiY292ZXIifX19"},"alt":"","customAltTextOptionSelected":"","longDesc":"
<p>A full-width image of a duck. Credit is hidden.</p>
","credit":"","imageTextSettings":{"description":true,"credit":false,"fullWidth":true},"imgLink":null,"caption":null,"srcset":"\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6Mzc1LCJoZWlnaHQiOjI4MC42MjkxMzkwNzI4NDc3LCJmaXQiOiJjb3ZlciJ9fX0=
375w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NTYwLCJoZWlnaHQiOjQxOS4wNzI4NDc2ODIxMTkyMywiZml0IjoiY292ZXIifX19
560w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NzU5LCJoZWlnaHQiOjU2Ny45OTMzNzc0ODM0NDM3LCJmaXQiOiJjb3ZlciJ9fX0=
759w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6OTYwLCJoZWlnaHQiOjcxOC40MTA1OTYwMjY0OTAxLCJmaXQiOiJjb3ZlciJ9fX0=
960w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MTAyNCwiaGVpZ2h0Ijo3NjYuMzA0NjM1NzYxNTg5NSwiZml0IjoiY292ZXIifX19
1024w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NzU1LCJoZWlnaHQiOjU2NSwiZml0IjoiY292ZXIifX19
755w\n ","sizes":"(max-width: 375px) 375px, (max-width: 560px) 560px, (max-width: 759px) 755px,
755px"},"locked":false}]}],"parentCourseID":"63ef870f3b579c2c346e91f6","createdAt":"1676642080453","updatedAt":"1676650712224"},"path":[{"id":"63ef870f3b579c2c346e91f7","type":"unit","name":"","indexInParent":0}],"index":2,"quizReferences":[],"HTMLFilename":"U01_L04","lessonPath":"U01_L04","tenantData":{"brightcoveAccountId":"23648095001","brightcovePolicyKey":"BCpkADawqM0aUZtfCvrLXpdoRcRxqMw2xSWMkTuGLEdbP4URyJRFB643tzqk1xFEmnnA8aSBdxgvSZ4FFM2W-r3kGe8feBtXCfuM1w3SpjmEaI8_VwxsnjcFCfU","brightcovePlayer":"dykQDka9h","imageTenantUrl":"https://d1qstiujtcw6eg.cloudfront.net","bucketName":"s3-coursepublished-tenant1-qa01-cac1-01","imgKey":"63ef870f3b579c2c346e91f6/1/amp/lessons/assets/","serviceUrl":"https://sih-qa.tvopublishing.com"}},
"layout": "amp-layout.njk",
"permalink": "image-amp.html",
}
---

<h1 class="tgt-header">Image {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-script.html %}