---
{
"result":
{"__typename":"LessonStructureContainer","id":"63ef87272f3557ab437aac68","type":"lesson","name":"Video","courseCode":"AMP123","description":"","indexInParent":4,"componentContainer":{"__typename":"ComponentContainer","id":"63ef87272f3557ab437aac69","lastUpdateID":"966418","title":"Video","sections":[{"__typename":"Section","id":"63ef8a754bc668e04dd202ab","type":"NONLEARNING","locked":false,"components":[{"id":"63ef8a784bc668e04dd20313","componentName":"Video","props":{"videoState":{"id":"3bdd773e-a54d-42fd-b77b-5a47473d8d18","videoSource":"brightcove","videoURL":"https://edge.api.brightcove.com/playback/v1/accounts/23648095001/videos/5967111782001","videoDescription":"
<p><br />Exploring Rate, Ratio and Proportion</p>","videoCredit":"<p>TVO</p>
","videoId":"5967111782001","videoTextSettings":{"description":true,"credit":true}}},"locked":false},{"id":"63ef8aac4bc668e04dd20458","componentName":"Video","props":{"videoState":{"id":"3bdd773e-a54d-42fd-b77b-5a47473d8d18","videoSource":"brightcove","videoURL":"https://edge.api.brightcove.com/playback/v1/accounts/23648095001/videos/5967111782001","videoDescription":"
<p><br /></p>
","videoCredit":"","videoId":"5967111782001","videoTextSettings":{"description":false,"credit":false}}},"locked":false},{"id":"63ef8ace4bc668e04dd20698","componentName":"Video","props":{"videoState":{"id":"3bdd773e-a54d-42fd-b77b-5a47473d8d18","videoSource":"brightcove","videoURL":"https://edge.api.brightcove.com/playback/v1/accounts/23648095001/videos/5967111782001","videoDescription":"
<p>Video with just a description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti vero, sed omnis
    placeat neque reiciendis ad sapiente vitae architecto ea enim consequuntur officiis eligendi in iure aperiam. Iste,
    amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti vero, sed omnis placeat neque reiciendis
    ad sapiente vitae architecto ea enim consequuntur officiis eligendi in iure aperiam. Iste, amet.</p>
","videoCredit":"","videoId":"5967111782001","videoTextSettings":{"description":true,"credit":false}}},"locked":false},{"id":"63ef8af74bc668e04dd209fd","componentName":"Video","props":{"videoState":{"id":"3bdd773e-a54d-42fd-b77b-5a47473d8d18","videoSource":"brightcove","videoURL":"https://edge.api.brightcove.com/playback/v1/accounts/23648095001/videos/5967111782001","videoDescription":"
<p><br />Exploring Rate, Ratio and Proportion</p>","videoCredit":"<p>Video with just a credit displaying</p>
","videoId":"5967111782001","videoTextSettings":{"description":false,"credit":true}}},"locked":false}]}],"parentCourseID":"63ef870f3b579c2c346e91f6","createdAt":"1676642087859","updatedAt":"1676643106606"},"path":[{"id":"63ef870f3b579c2c346e91f7","type":"unit","name":"","indexInParent":0}],"index":3,"quizReferences":[],"HTMLFilename":"U01_L05","lessonPath":"U01_L05","tenantData":{"brightcoveAccountId":"23648095001","brightcovePolicyKey":"BCpkADawqM0aUZtfCvrLXpdoRcRxqMw2xSWMkTuGLEdbP4URyJRFB643tzqk1xFEmnnA8aSBdxgvSZ4FFM2W-r3kGe8feBtXCfuM1w3SpjmEaI8_VwxsnjcFCfU","brightcovePlayer":"dykQDka9h","imageTenantUrl":"https://d1qstiujtcw6eg.cloudfront.net","bucketName":"s3-coursepublished-tenant1-qa01-cac1-01","imgKey":"63ef870f3b579c2c346e91f6/1/amp/lessons/assets/","serviceUrl":"https://sih-qa.tvopublishing.com"}},
"layout": "amp-layout.njk",
"permalink": "video-amp.html",
}
---

<h1 class="tgt-header">Video {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-script.html %}