---
{
"result":
{"__typename":"LessonStructureContainer","id":"63efb4a3628ee56aa4dd252a","type":"lesson","name":"Infobox","courseCode":"AMP123","description":"","indexInParent":2,"componentContainer":{"__typename":"ComponentContainer","id":"63efb4a3628ee56aa4dd252b","lastUpdateID":"100909","title":"Infobox","sections":[{"__typename":"Section","id":"63efb4ae628ee56aa4dd2ae2","type":"NONLEARNING","locked":false,"components":[{"id":"63efb4b3628ee56aa4dd2ccc","componentName":"InfoBox","props":{"infoBoxState":{"infoBoxIcon":"Definition","infoBoxLabel":"Infobox
label","infoBoxHeader":{"heading":"Infobox header","headingLevel":"h2"},"body":"<p>Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate quidem molestias alias, sint
    asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat nobis veritatis nisi adipisci
    odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit cupiditate asperiores itaque
    obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque omnis doloribus. Eum
    voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
","components":[{"componentName":"Text","componentProps":{"body":"<p>Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Consectetur quia eius explicabo voluptatibus, cupiditate quidem molestias alias, sint asperiores aspernatur
    nesciunt culpa? Fugit recusandae consequatur dolorum repellat nobis veritatis nisi adipisci odio magnam, architecto
    deleniti officia sapiente rerum sunt ullam, tempora suscipit cupiditate asperiores itaque obcaecati distinctio
    molestiae culpa facere! Eum vitae, libero voluptatem autem atque omnis doloribus. Eum voluptatum adipisci, iusto
    reprehenderit tenetur architecto?</p>
"}}],"id":"aa515d0a-c97b-4211-8630-93dd09e4ed1f"}},"locked":false},{"id":"63efb4d1628ee56aa4dd3678","componentName":"InfoBox","props":{"infoBoxState":{"infoBoxIcon":"Try
it","infoBoxLabel":"Infobox label","infoBoxHeader":{"heading":"Infobox header","headingLevel":"h2"},"body":"<p>Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate quidem
    molestias alias, sint asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat nobis
    veritatis nisi adipisci odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit
    cupiditate asperiores itaque obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque
    omnis doloribus. Eum voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
","components":[{"componentName":"Text","componentProps":{"body":"<p>Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Consectetur quia eius explicabo voluptatibus, cupiditate quidem molestias alias, sint asperiores aspernatur
    nesciunt culpa? Fugit recusandae consequatur dolorum repellat nobis veritatis nisi adipisci odio magnam, architecto
    deleniti officia sapiente rerum sunt ullam, tempora suscipit cupiditate asperiores itaque obcaecati distinctio
    molestiae culpa facere! Eum vitae, libero voluptatem autem atque omnis doloribus. Eum voluptatum adipisci, iusto
    reprehenderit tenetur architecto?</p>
"}}],"id":"9bc23668-9e5b-4399-bf4d-7b2b40f1ad74"}},"locked":false},{"id":"63efb4d8628ee56aa4dd386e","componentName":"InfoBox","props":{"infoBoxState":{"infoBoxIcon":"Challenge","infoBoxLabel":"Infobox
label","infoBoxHeader":{"heading":"Infobox header","headingLevel":"h2"},"body":"<p>Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate quidem molestias alias, sint
    asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat nobis veritatis nisi adipisci
    odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit cupiditate asperiores itaque
    obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque omnis doloribus. Eum
    voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
","components":[{"componentName":"Text","componentProps":{"body":"<p>Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Consectetur quia eius explicabo voluptatibus, cupiditate quidem molestias alias, sint asperiores aspernatur
    nesciunt culpa? Fugit recusandae consequatur dolorum repellat nobis veritatis nisi adipisci odio magnam, architecto
    deleniti officia sapiente rerum sunt ullam, tempora suscipit cupiditate asperiores itaque obcaecati distinctio
    molestiae culpa facere! Eum vitae, libero voluptatem autem atque omnis doloribus. Eum voluptatum adipisci, iusto
    reprehenderit tenetur architecto?</p>
"}}],"id":"7463cebf-d0ae-4921-8e7a-4140f401c191"}},"locked":false},{"id":"63efb4de628ee56aa4dd3c63","componentName":"InfoBox","props":{"infoBoxState":{"infoBoxIcon":"Notebook","infoBoxLabel":"Infobox
label","infoBoxHeader":{"heading":"Infobox header","headingLevel":"h2"},"body":"<p>Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate quidem molestias alias, sint
    asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat nobis veritatis nisi adipisci
    odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit cupiditate asperiores itaque
    obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque omnis doloribus. Eum
    voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
","components":[{"componentName":"Text","componentProps":{"body":"<p>Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Consectetur quia eius explicabo voluptatibus, cupiditate quidem molestias alias, sint asperiores aspernatur
    nesciunt culpa? Fugit recusandae consequatur dolorum repellat nobis veritatis nisi adipisci odio magnam, architecto
    deleniti officia sapiente rerum sunt ullam, tempora suscipit cupiditate asperiores itaque obcaecati distinctio
    molestiae culpa facere! Eum vitae, libero voluptatem autem atque omnis doloribus. Eum voluptatum adipisci, iusto
    reprehenderit tenetur architecto?</p>
"}}],"id":"2fafdb22-2292-4d5a-9e18-2670c03aa519"}},"locked":false},{"id":"63efb4fb628ee56aa4dd50c6","componentName":"InfoBox","props":{"infoBoxState":{"infoBoxIcon":"No
icon","infoBoxLabel":"Independent reading","infoBoxHeader":{"heading":"Wetlands (Audubon Society Nature Guides) by
William A. Niering","headingLevel":"h2"},"body":"<p>The World of the Salt Marsh is a wide-ranging exploration of the
    southeastern coast—its natural history, its people and their way of life, and the historic and ongoing threats to
    its ecological survival.</p>","components":[{"componentName":"Text","componentProps":{"body":"<p>The World of the
    Salt Marsh is a wide-ranging exploration of the southeastern coast—its natural history, its people and their way of
    life, and the historic and ongoing threats to its ecological survival.</p>
"}}],"id":"af710e90-8f79-4d82-9b8b-fbe9b6fcc0ec"}},"locked":false}]}],"parentCourseID":"63ef870f3b579c2c346e91f6","createdAt":"1676653731388","updatedAt":"1683918828266"},"path":[{"id":"63ef870f3b579c2c346e91f7","type":"unit","name":"","indexInParent":0}],"index":11,"quizReferences":[],"HTMLFilename":"U01_L03","lessonPath":"U01_L03","tenantData":{"brightcoveAccountId":"23648095001","brightcovePolicyKey":"BCpkADawqM0aUZtfCvrLXpdoRcRxqMw2xSWMkTuGLEdbP4URyJRFB643tzqk1xFEmnnA8aSBdxgvSZ4FFM2W-r3kGe8feBtXCfuM1w3SpjmEaI8_VwxsnjcFCfU","brightcovePlayer":"dykQDka9h","imageTenantUrl":"https://d1qstiujtcw6eg.cloudfront.net","bucketName":"s3-coursepublished-tenant1-qa01-cac1-01","imgKey":"63ef870f3b579c2c346e91f6/1/amp/lessons/assets/","serviceUrl":"https://sih-qa.tvopublishing.com"}},
"layout": "amp-layout.njk",
"permalink": "infobox-amp.html",
}
---

<h1 class="tgt-header">Infobox {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-script.html %}