---
{
"result":
{"__typename":"LessonStructureContainer","id":"63ef87702f3557ab437aba80","type":"lesson","name":"MultiColumn","courseCode":"AMP123","description":"","indexInParent":9,"componentContainer":{"__typename":"ComponentContainer","id":"63ef87702f3557ab437aba81","lastUpdateID":"651725","title":"MultiColumn","sections":[{"__typename":"Section","id":"63efb24b628ee56aa4dc7ec1","type":"NONLEARNING","locked":false,"components":[{"id":"63efb24e628ee56aa4dc8060","componentName":"MultiColumn","props":{"columnWidth":"50:50","verticalAlignment":"top","layoutState":[{"id":"1f480f05-45d2-4266-aa0b-4c5235807a9a","components":[{"componentName":"Text","componentProps":{"body":"
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate
    quidem molestias alias, sint asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat
    nobis veritatis nisi adipisci odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit
    cupiditate asperiores itaque obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque
    omnis doloribus. Eum voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
"}}]},{"id":"ee81b2c5-8fbe-4f4c-b3de-cf062677dcfd","components":[{"componentName":"Image","componentProps":{"imgSize":{"width":287,"height":351},"uploadedImg":{"287":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjI4NywiaGVpZ2h0IjozNTEsImZpdCI6ImNvdmVyIn19fQ==","368":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM2OCwiaGVpZ2h0Ijo0NTAuMDYyNzE3NzcwMDM0ODUsImZpdCI6ImNvdmVyIn19fQ==","515":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUxNSwiaGVpZ2h0Ijo2MjkuODQzMjA1NTc0OTEyOSwiZml0IjoiY292ZXIifX19","560":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU2MCwiaGVpZ2h0Ijo2ODQuODc4MDQ4NzgwNDg3OCwiZml0IjoiY292ZXIifX19"},"imgLink":null,"alt":"A
man wearing pyjamas holding a book","longDesc":"<p>A man wearing fancy pyjamas holding a book.</p>
","caption":null,"credit":"<p>TVO</p>
","imageTextSettings":{"description":true,"credit":true,"fullWidth":false},"customAltTextOptionSelected":"Custom alt
text"}}]}]},"locked":false},{"id":"63efb324628ee56aa4dcaf45","componentName":"MultiColumn","props":{"columnWidth":"50:50","verticalAlignment":"center","layoutState":[{"id":"1f480f05-45d2-4266-aa0b-4c5235807a9a","components":[{"componentName":"Image","componentProps":{"imgSize":{"width":287,"height":351},"uploadedImg":{"287":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjI4NywiaGVpZ2h0IjozNTEsImZpdCI6ImNvdmVyIn19fQ==","368":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM2OCwiaGVpZ2h0Ijo0NTAuMDYyNzE3NzcwMDM0ODUsImZpdCI6ImNvdmVyIn19fQ==","515":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUxNSwiaGVpZ2h0Ijo2MjkuODQzMjA1NTc0OTEyOSwiZml0IjoiY292ZXIifX19","560":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU2MCwiaGVpZ2h0Ijo2ODQuODc4MDQ4NzgwNDg3OCwiZml0IjoiY292ZXIifX19"},"imgLink":null,"alt":"A
man wearing pyjamas holding a book","longDesc":"<p>A man wearing fancy pyjamas holding a book.</p>
","caption":null,"credit":"<p>TVO</p>
","imageTextSettings":{"description":true,"credit":true,"fullWidth":false},"customAltTextOptionSelected":"Custom alt
text"}}]},{"id":"ee81b2c5-8fbe-4f4c-b3de-cf062677dcfd","components":[{"componentName":"Text","componentProps":{"body":"
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate
    quidem molestias alias, sint asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat
    nobis veritatis nisi adipisci odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit
    cupiditate asperiores itaque obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque
    omnis doloribus. Eum voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
"}}]}]},"locked":false},{"id":"63efb32a628ee56aa4dcb109","componentName":"MultiColumn","props":{"columnWidth":"30:70","verticalAlignment":"center","layoutState":[{"id":"1f480f05-45d2-4266-aa0b-4c5235807a9a","components":[{"componentName":"Image","componentProps":{"imgSize":{"width":287,"height":351},"uploadedImg":{"287":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjI4NywiaGVpZ2h0IjozNTEsImZpdCI6ImNvdmVyIn19fQ==","368":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM2OCwiaGVpZ2h0Ijo0NTAuMDYyNzE3NzcwMDM0ODUsImZpdCI6ImNvdmVyIn19fQ==","515":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUxNSwiaGVpZ2h0Ijo2MjkuODQzMjA1NTc0OTEyOSwiZml0IjoiY292ZXIifX19","560":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU2MCwiaGVpZ2h0Ijo2ODQuODc4MDQ4NzgwNDg3OCwiZml0IjoiY292ZXIifX19"},"imgLink":null,"alt":"A
man wearing pyjamas holding a book","longDesc":"<p>A man wearing fancy pyjamas holding a book.</p>
","caption":null,"credit":"<p>TVO</p>
","imageTextSettings":{"description":true,"credit":true,"fullWidth":false},"customAltTextOptionSelected":"Custom alt
text"}}]},{"id":"ee81b2c5-8fbe-4f4c-b3de-cf062677dcfd","components":[{"componentName":"Text","componentProps":{"body":"
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate
    quidem molestias alias, sint asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat
    nobis veritatis nisi adipisci odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit
    cupiditate asperiores itaque obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque
    omnis doloribus. Eum voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
"}}]}]},"locked":false},{"id":"63efb331628ee56aa4dcb499","componentName":"MultiColumn","props":{"columnWidth":"70:30","verticalAlignment":"center","layoutState":[{"id":"1f480f05-45d2-4266-aa0b-4c5235807a9a","components":[{"componentName":"Image","componentProps":{"imgSize":{"width":287,"height":351},"uploadedImg":{"287":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjI4NywiaGVpZ2h0IjozNTEsImZpdCI6ImNvdmVyIn19fQ==","368":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM2OCwiaGVpZ2h0Ijo0NTAuMDYyNzE3NzcwMDM0ODUsImZpdCI6ImNvdmVyIn19fQ==","515":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUxNSwiaGVpZ2h0Ijo2MjkuODQzMjA1NTc0OTEyOSwiZml0IjoiY292ZXIifX19","560":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU2MCwiaGVpZ2h0Ijo2ODQuODc4MDQ4NzgwNDg3OCwiZml0IjoiY292ZXIifX19"},"imgLink":null,"alt":"A
man wearing pyjamas holding a book","longDesc":"<p>A man wearing fancy pyjamas holding a book.</p>
","caption":null,"credit":"<p>TVO</p>
","imageTextSettings":{"description":true,"credit":true,"fullWidth":false},"customAltTextOptionSelected":"Custom alt
text"}}]},{"id":"ee81b2c5-8fbe-4f4c-b3de-cf062677dcfd","components":[{"componentName":"Text","componentProps":{"body":"
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate
    quidem molestias alias, sint asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat
    nobis veritatis nisi adipisci odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit
    cupiditate asperiores itaque obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque
    omnis doloribus. Eum voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
"}}]}]},"locked":false},{"id":"63efb2b7628ee56aa4dc9485","componentName":"MultiColumn","props":{"columnWidth":"50:50","verticalAlignment":"center","layoutState":[{"id":"1f480f05-45d2-4266-aa0b-4c5235807a9a","components":[{"componentName":"Image","componentProps":{"imgSize":{"width":287,"height":215},"uploadedImg":{"287":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6Mjg3LCJoZWlnaHQiOjIxNSwiZml0IjoiY292ZXIifX19","368":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6MzY4LCJoZWlnaHQiOjI3NS42Nzk0NDI1MDg3MTA4LCJmaXQiOiJjb3ZlciJ9fX0=","515":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NTE1LCJoZWlnaHQiOjM4NS44MDEzOTM3MjgyMjMsImZpdCI6ImNvdmVyIn19fQ==","560":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvZWxlbmEtZy1MSlNIM05PVEx3Yy11bnNwbGFzaCAxLnBuZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NTYwLCJoZWlnaHQiOjQxOS41MTIxOTUxMjE5NTEyLCJmaXQiOiJjb3ZlciJ9fX0="},"imgLink":null,"alt":"","longDesc":"","caption":null,"credit":"","imageTextSettings":{"description":false,"credit":false,"fullWidth":false},"customAltTextOptionSelected":""}},{"componentName":"Text","componentProps":{"body":"
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate
    quidem molestias alias, sint asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat
    nobis veritatis nisi adipisci odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit
    cupiditate asperiores itaque obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque
    omnis doloribus. Eum voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
"}}]},{"id":"ee81b2c5-8fbe-4f4c-b3de-cf062677dcfd","components":[{"componentName":"Text","componentProps":{"body":"<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate
    quidem molestias alias, sint asperiores aspernatur nesciunt culpa? Fugit recusandae consequatur dolorum repellat
    nobis veritatis nisi adipisci odio magnam, architecto deleniti officia sapiente rerum sunt ullam, tempora suscipit
    cupiditate asperiores itaque obcaecati distinctio molestiae culpa facere! Eum vitae, libero voluptatem autem atque
    omnis doloribus. Eum voluptatum adipisci, iusto reprehenderit tenetur architecto?</p>
"}},{"componentName":"Image","componentProps":{"imgSize":{"width":287,"height":351},"uploadedImg":{"287":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjI4NywiaGVpZ2h0IjozNTEsImZpdCI6ImNvdmVyIn19fQ==","368":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjM2OCwiaGVpZ2h0Ijo0NTAuMDYyNzE3NzcwMDM0ODUsImZpdCI6ImNvdmVyIn19fQ==","515":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUxNSwiaGVpZ2h0Ijo2MjkuODQzMjA1NTc0OTEyOSwiZml0IjoiY292ZXIifX19","560":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjU2MCwiaGVpZ2h0Ijo2ODQuODc4MDQ4NzgwNDg3OCwiZml0IjoiY292ZXIifX19"},"imgLink":null,"alt":"A
man wearing pyjamas holding a book","longDesc":"<p>A man wearing fancy pyjamas holding a book.</p>
","caption":null,"credit":"<p>TVO</p>
","imageTextSettings":{"description":true,"credit":true,"fullWidth":false},"customAltTextOptionSelected":"Custom alt
text"}}]}]},"locked":false}]}],"parentCourseID":"63ef870f3b579c2c346e91f6","createdAt":"1676642160703","updatedAt":"1687359926800"},"path":[{"id":"63ef870f3b579c2c346e91f7","type":"unit","name":"","indexInParent":0}],"index":9,"quizReferences":[],"HTMLFilename":"U01_L10","lessonPath":"U01_L10","tenantData":{"brightcoveAccountId":"23648095001","brightcovePolicyKey":"BCpkADawqM0aUZtfCvrLXpdoRcRxqMw2xSWMkTuGLEdbP4URyJRFB643tzqk1xFEmnnA8aSBdxgvSZ4FFM2W-r3kGe8feBtXCfuM1w3SpjmEaI8_VwxsnjcFCfU","brightcovePlayer":"dykQDka9h","imageTenantUrl":"https://d1qstiujtcw6eg.cloudfront.net","bucketName":"s3-coursepublished-tenant1-qa01-cac1-01","imgKey":"63ef870f3b579c2c346e91f6/1/amp/lessons/assets/","serviceUrl":"https://sih-qa.tvopublishing.com"}},
"layout": "amp-layout.njk",
"permalink": "multi-column-amp.html",
}
---

<h1 class="tgt-header">Multi-column {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-script.html %}