---
{
"result":
{"__typename":"LessonStructureContainer","id":"63ef872e2f3557ab437aade2","type":"lesson","name":"Tabs","courseCode":"AMP123","description":"","indexInParent":5,"componentContainer":{"__typename":"ComponentContainer","id":"63ef872e2f3557ab437aade3","lastUpdateID":"922969","title":"Tabs","sections":[{"__typename":"Section","id":"63ef8b324bc668e04dd20d3f","type":"NONLEARNING","locked":false,"components":[{"id":"63ef8b364bc668e04dd20dbb","componentName":"Tab","props":{"layoutState":[{"id":"4b7eba42-0b6b-41a6-b3d4-b4b19cc9f1bf","title":"Conservation","placeholder":"Tab
1","components":[{"componentName":"Text","componentProps":{"body":"<p><strong>Restoration and restoration</strong>
    ecologists intend to return wetlands to their natural trajectory by aiding directly with the natural processes of
    the ecosystem. These direct methods vary with respect to the degree of physical manipulation of the natural
    environment and each are associated with different levels of restoration. Restoration is needed after disturbance or
    perturbation of a wetland. Disturbances include exogenous factors such as flooding or drought. </p>
"}}],"activeTab":true,"headingLevel":"h2"},{"id":"d07d1f89-daff-4443-8c2f-1aefd98bc9cc","title":"Preservation","placeholder":"Tab
2","components":[{"componentName":"Text","componentProps":{"body":"<p><strong>Restoration and restoration</strong>
    ecologists intend to return wetlands to their natural trajectory by aiding directly with the natural processes of
    the ecosystem. These direct methods vary with respect to the degree of physical manipulation of the natural
    environment and each are associated with different levels of restoration. Restoration is needed after disturbance or
    perturbation of a wetland. Disturbances include exogenous factors such as flooding or drought. </p>
"}}],"activeTab":false,"headingLevel":"h2"},{"id":"7551e77c-c7ab-43c7-9a5c-2c228217b60b","placeholder":"Tab
3","title":"Restoration","components":[{"componentName":"Text","componentProps":{"body":"<p><strong>Restoration and
        restoration</strong> ecologists intend to return wetlands to their natural trajectory by aiding directly with
    the natural processes of the ecosystem. These direct methods vary with respect to the degree of physical
    manipulation of the natural environment and each are associated with different levels of restoration. Restoration is
    needed after disturbance or perturbation of a wetland. Disturbances include exogenous factors such as flooding or
    drought. </p>
"}}],"activeTab":false,"headingLevel":"h2"}]},"locked":false},{"id":"63ef8b994bc668e04dd21f27","componentName":"Tab","props":{"layoutState":[{"id":"d07d1f89-daff-4443-8c2f-1aefd98bc9cc","title":"Conservation","placeholder":"Tab
2","components":[{"componentName":"Text","componentProps":{"body":"<p><strong>Restoration and restoration</strong>
    ecologists intend to return wetlands to their natural trajectory by aiding directly with the natural processes of
    the ecosystem. These direct methods vary with respect to the degree of physical manipulation of the natural
    environment and each are associated with different levels of restoration. Restoration is needed after disturbance or
    perturbation of a wetland. Disturbances include exogenous factors such as flooding or drought.</p>
"}}],"activeTab":false,"headingLevel":"h2"},{"id":"4b7eba42-0b6b-41a6-b3d4-b4b19cc9f1bf","title":"This tab has a lot of
words, two lines text of text that when hovered will display the whole title.","placeholder":"Tab
1","components":[{"componentName":"Video","componentProps":{"videoState":{"id":"3bdd773e-a54d-42fd-b77b-5a47473d8d18","videoSource":"brightcove","videoURL":"https://edge.api.brightcove.com/playback/v1/accounts/23648095001/videos/5967111782001","videoDescription":"
<p>Exploring Rate, Ratio and Proportion</p>","videoCredit":"<p><a href=\"https://www.tvo.org\"
        target=\"_blank\">TVO<span><i class='anchor-icon'>&#xe802;</i></span><span class='sr-only'>(Opens in a new
            window)</span></a></p>
","videoId":"5967111782001","videoTextSettings":{"description":true,"credit":true}}}}],"activeTab":false,"headingLevel":"h2"},{"id":"792eafa1-86cd-4502-a397-f427826d6c5c","placeholder":"Tab
3","title":"Restoration","components":[{"componentName":"Text","componentProps":{"body":"<p><strong>Restoration and
        restoration</strong> ecologists intend to return wetlands to their natural trajectory by aiding directly with
    the natural processes of the ecosystem. These direct methods vary with respect to the degree of physical
    manipulation of the natural environment and each are associated with different levels of restoration. Restoration is
    needed after disturbance or perturbation of a wetland. Disturbances include exogenous factors such as flooding or
    drought.</p>
"}}],"activeTab":true,"headingLevel":"h2"}]},"locked":false},{"id":"63ef8c3a4bc668e04dd226c6","componentName":"Tab","props":{"layoutState":[{"id":"4b7eba42-0b6b-41a6-b3d4-b4b19cc9f1bf","title":"This
tab has a lot of words, two lines text of text that when hovered will display the whole title.","placeholder":"Tab
1","components":[{"componentName":"Header","componentProps":{"headerState":{"size":"large","alignment":"left-align","heading":"Header
inside of a tab","headingLevel":"h2"}}},{"componentName":"Text","componentProps":{"body":"<p>Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Nam deleniti vero, sed omnis placeat neque reiciendis ad sapiente vitae architecto ea
    enim consequuntur officiis eligendi in iure aperiam. Iste, amet.</p>
"}}],"activeTab":false,"headingLevel":"h2"},{"id":"d07d1f89-daff-4443-8c2f-1aefd98bc9cc","title":"Shorter
title","placeholder":"Tab
2","components":[{"componentName":"Table","componentProps":{"layoutState":{"headers":[{"accessorKey":"column1","id":"column1","header":""},{"accessorKey":"column2","id":"column2","header":""},{"accessorKey":"column3","id":"column3","header":""},{"accessorKey":"column4","id":"column4","header":""},{"accessorKey":"column5","id":"column5","header":""},{"accessorKey":"column6","id":"column6","header":""}],"data":[{"column1":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Dolor
sit amet","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Dolor
sit
amet","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Consectetur
adipisicing
elit","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Dolor sit
amet","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Nam
deleniti vero, sed
omnis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Consectetur
adipisicing
elit","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Nam
deleniti vero, sed
omnis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Consequuntur
officiis eligendi in iure aperiam. Iste,
amet.","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Consectetur
adipisicing
elit","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Nam
deleniti vero, sed
omnis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Consectetur
adipisicing
elit","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Consequuntur
officiis eligendi in iure aperiam. Iste,
amet.","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Nam
deleniti vero, sed
omnis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Consequuntur
officiis eligendi in iure aperiam. Iste,
amet.","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Consequuntur
officiis eligendi in iure aperiam. Iste,
amet.","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Nam
deleniti vero, sed
omnis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Consectetur
adipisicing
elit","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Consectetur
adipisicing
elit","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}}],"headerType":"side-header","hideTopHeader":false,"hideSideHeader":false,"showStripes":false}}}],"activeTab":true,"headingLevel":"h2"}]},"locked":false}]}],"parentCourseID":"63ef870f3b579c2c346e91f6","createdAt":"1676642094217","updatedAt":"1676645035466"},"path":[{"id":"63ef870f3b579c2c346e91f7","type":"unit","name":"","indexInParent":0}],"index":4,"quizReferences":[],"HTMLFilename":"U01_L06","lessonPath":"U01_L06","tenantData":{"brightcoveAccountId":"23648095001","brightcovePolicyKey":"BCpkADawqM0aUZtfCvrLXpdoRcRxqMw2xSWMkTuGLEdbP4URyJRFB643tzqk1xFEmnnA8aSBdxgvSZ4FFM2W-r3kGe8feBtXCfuM1w3SpjmEaI8_VwxsnjcFCfU","brightcovePlayer":"dykQDka9h","imageTenantUrl":"https://d1qstiujtcw6eg.cloudfront.net","bucketName":"s3-coursepublished-tenant1-qa01-cac1-01","imgKey":"63ef870f3b579c2c346e91f6/1/amp/lessons/assets/","serviceUrl":"https://sih-qa.tvopublishing.com"}},
"layout": "amp-layout.njk",
"permalink": "tab-amp.html",
}
---

<h1 class="tgt-header">Tab {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-script.html %}