---
{
"result":
{"__typename":"LessonStructureContainer","id":"63ef875b2f3557ab437ab8d8","type":"lesson","name":"Table","courseCode":"AMP123","description":"","indexInParent":8,"componentContainer":{"__typename":"ComponentContainer","id":"63ef875b2f3557ab437ab8d9","lastUpdateID":"753811","title":"Table","sections":[{"__typename":"Section","id":"63efae4d75f0e3ed6a4a362e","type":"NONLEARNING","locked":false,"components":[{"id":"63efae5e75f0e3ed6a4a39c9","componentName":"Text","props":{"body":"
<p>The following are examples of tables of various dimensions with top headers set:</p>
"},"locked":false},{"id":"63efae4f75f0e3ed6a4a375f","componentName":"Table","props":{"layoutState":{"headers":[{"accessorKey":"column1","id":"column1","header":""},{"accessorKey":"column2","id":"column2","header":""}],"data":[{"column1":{"value":"Lorem","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia eius explicabo voluptatibus, cupiditate quidem
molestias alias, sint asperiores aspernatur nesciunt
culpa?","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Fugit
recusandae consequatur dolorum repellat nobis veritatis nisi adipisci odio magnam, architecto deleniti officia sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}}],"headerType":"top-header","hideTopHeader":false,"hideSideHeader":false,"showStripes":false}},"locked":false},{"id":"63efaeb29c7e2978f340b9e7","componentName":"Table","props":{"layoutState":{"headers":[{"accessorKey":"column1","id":"column1","header":""},{"accessorKey":"column2","id":"column2","header":""},{"accessorKey":"column3","id":"column3","header":""}],"data":[{"column1":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Dolor
sit
amet","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column3":{"value":"Consectetur
adipisicing","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Cupiditate
quidem molestias
alias","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Itaque
obcaecati
distinctio","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Itaque
obcaecati
distinctio","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Cupiditate
quidem molestias
alias","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Cupiditate
quidem molestias
alias","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Itaque
obcaecati
distinctio","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}}],"headerType":"top-header","hideTopHeader":false,"hideSideHeader":false,"showStripes":false}},"locked":false},{"id":"63efafbe0f4e0d8b23fa659e","componentName":"Text","props":{"body":"
<p>This next one has zebra stripes set to display:</p>
"},"locked":false},{"id":"63efaf189c7e2978f340dabb","componentName":"Table","props":{"layoutState":{"headers":[{"accessorKey":"column1","id":"column1","header":""},{"accessorKey":"column2","id":"column2","header":""},{"accessorKey":"column3","id":"column3","header":""},{"accessorKey":"column4","id":"column4","header":""},{"accessorKey":"column5","id":"column5","header":""},{"accessorKey":"column6","id":"column6","header":""}],"data":[{"column1":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Sapiente
rerum sunt
ullam","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column3":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column4":{"value":"Veritatis
nisi
adipisci","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column5":{"value":"Adipisci
odio
magnam","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column6":{"value":"Reprehenderit
tenetur
architecto","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Reprehenderit
tenetur
architecto","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Reprehenderit
tenetur
architecto","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Reprehenderit
tenetur
architecto","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}}],"headerType":"top-header","hideTopHeader":false,"hideSideHeader":false,"showStripes":true}},"locked":false},{"id":"63efafe30f4e0d8b23fa6b69","componentName":"Table","props":{"layoutState":{"headers":[{"accessorKey":"column1","id":"column1","header":""},{"accessorKey":"column2","id":"column2","header":""},{"accessorKey":"column3","id":"column3","header":""},{"accessorKey":"column4","id":"column4","header":""},{"accessorKey":"column5","id":"column5","header":""},{"accessorKey":"column6","id":"column6","header":""},{"accessorKey":"column7","id":"column7","header":""},{"accessorKey":"column8","id":"column8","header":""},{"accessorKey":"column9","id":"column9","header":""},{"accessorKey":"column10","id":"column10","header":""}],"data":[{"column1":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column3":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column5":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column7":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column8":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Eum
voluptatum
adipisci","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Adipisci
odio
magnam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Sapiente
rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Repellat
nobis
veritatis","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}}],"headerType":"top-header","hideTopHeader":false,"hideSideHeader":false,"showStripes":false}},"locked":false},{"id":"63efb094628ee56aa4dc53cc","componentName":"Text","props":{"body":"
<p>And below are examples of tables of varying dimensions with side headers:</p>
"},"locked":false},{"id":"63efb0b4628ee56aa4dc56e0","componentName":"Table","props":{"layoutState":{"headers":[{"accessorKey":"column1","id":"column1","header":""},{"accessorKey":"column2","id":"column2","header":""}],"data":[{"column1":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Libero
voluptatem autem atque omnis
doloribus","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Officia
sapiente
rerum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Officia
sapiente rerum sunt ullam, tempora suscipit cupiditate
","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}}],"headerType":"side-header","hideTopHeader":false,"hideSideHeader":false,"showStripes":false}},"locked":false},{"id":"63efb0de628ee56aa4dc61d8","componentName":"Table","props":{"layoutState":{"headers":[{"accessorKey":"column1","id":"column1","header":""},{"accessorKey":"column2","id":"column2","header":""},{"accessorKey":"column3","id":"column3","header":""},{"accessorKey":"column4","id":"column4","header":""},{"accessorKey":"column5","id":"column5","header":""},{"accessorKey":"column6","id":"column6","header":""}],"data":[{"column1":{"value":"Officia
sapiente rerum sunt ullam, tempora suscipit cupiditate
","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Officia
sapiente rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Eum
vitae, libero voluptatem autem
atque","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Eum
voluptatum adipisci, iusto reprehenderit tenetur
architecto?","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Officia
sapiente rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Eum
vitae, libero voluptatem autem
atque","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Asperiores
aspernatur
nesciunt","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Eum
voluptatum adipisci, iusto reprehenderit tenetur
architecto?","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Officia
sapiente rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Eum
vitae, libero voluptatem autem
atque","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Eum
voluptatum adipisci, iusto reprehenderit tenetur
architecto?","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Officia
sapiente rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Cupiditate
quidem
molestias","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Officia
sapiente rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Consectetur
quia eius explicabo
voluptatibus","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Eum
voluptatum adipisci, iusto reprehenderit tenetur
architecto?","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Officia
sapiente rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Consectetur
quia eius explicabo
voluptatibus","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Dolor
sit amet consectetur
adipisicing","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Eum
vitae, libero voluptatem autem
atque","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Officia
sapiente rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Eum
vitae, libero voluptatem autem
atque","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Eum
voluptatum adipisci, iusto reprehenderit tenetur
architecto?","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Officia
sapiente rerum sunt
ullam","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}}],"headerType":"side-header","hideTopHeader":false,"hideSideHeader":false,"showStripes":true}},"locked":false},{"id":"63efb14775f0e3ed6a4a7132","componentName":"Text","props":{"body":"
<p>Below is a table with its headers set to not display:</p>
"},"locked":false},{"id":"63efb16c75f0e3ed6a4a7980","componentName":"Table","props":{"layoutState":{"headers":[{"accessorKey":"column1","id":"column1","header":""},{"accessorKey":"column2","id":"column2","header":""},{"accessorKey":"column3","id":"column3","header":""},{"accessorKey":"column4","id":"column4","header":""},{"accessorKey":"column5","id":"column5","header":""},{"accessorKey":"column6","id":"column6","header":""},{"accessorKey":"column7","id":"column7","header":""},{"accessorKey":"column8","id":"column8","header":""},{"accessorKey":"column9","id":"column9","header":""},{"accessorKey":"column10","id":"column10","header":""}],"data":[{"column1":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column3":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column5":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column7":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column8":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column5":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column6":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column7":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column8":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column9":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column10":{"value":"Lorem
ipsum","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}}],"headerType":"top-header","hideTopHeader":true,"hideSideHeader":false,"showStripes":false}},"locked":false}]}],"parentCourseID":"63ef870f3b579c2c346e91f6","createdAt":"1676642139158","updatedAt":"1676653110686"},"path":[{"id":"63ef870f3b579c2c346e91f7","type":"unit","name":"","indexInParent":0}],"index":8,"quizReferences":[],"HTMLFilename":"U01_L09","lessonPath":"U01_L09","tenantData":{"brightcoveAccountId":"23648095001","brightcovePolicyKey":"BCpkADawqM0aUZtfCvrLXpdoRcRxqMw2xSWMkTuGLEdbP4URyJRFB643tzqk1xFEmnnA8aSBdxgvSZ4FFM2W-r3kGe8feBtXCfuM1w3SpjmEaI8_VwxsnjcFCfU","brightcovePlayer":"dykQDka9h","imageTenantUrl":"https://d1qstiujtcw6eg.cloudfront.net","bucketName":"s3-coursepublished-tenant1-qa01-cac1-01","imgKey":"63ef870f3b579c2c346e91f6/1/amp/lessons/assets/","serviceUrl":"https://sih-qa.tvopublishing.com"}},
"layout": "amp-layout.njk",
"permalink": "table-amp.html",
}
---

<h1 class="tgt-header">Table {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-script.html %}