---
{
"result":
{"__typename":"LessonStructureContainer","id":"63ef87442f3557ab437ab220","type":"lesson","name":"Accordion","courseCode":"AMP123","description":"","indexInParent":6,"componentContainer":{"__typename":"ComponentContainer","id":"63ef87442f3557ab437ab221","lastUpdateID":"245861","title":"Accordion","sections":[{"__typename":"Section","id":"63ef93212beccdf75bd46422","type":"NONLEARNING","locked":false,"components":[{"id":"63ef93262beccdf75bd464de","componentName":"Accordion","props":{"layoutState":[{"id":"f8368dbf-9d83-4fbe-8869-009742a53d08","title":"Step
1. Application","placeholderTitle":"Pane 1","components":[{"componentName":"Text","componentProps":{"body":"<p>Each
    county and region tends to have its own definition for legal purposes. In the United States, wetlands are defined as
    &quot;those areas that are inundated or saturated by surface or groundwater at a frequency and duration sufficient
    to support, and that under normal circumstances do support, a prevalence of vegetation typically adapted for life in
    saturated soil conditions. </p>
"}}],"expanded":true,"headingLevel":"h2"},{"id":"ce72e060-74a2-472a-b8c1-8ee62b649894","title":"Step 2: Access and
Membership","placeholderTitle":"Pane 2","components":[{"componentName":"Text","componentProps":{"body":"<p>Each county
    and region tends to have its own definition for legal purposes. In the United States, wetlands are defined as
    &quot;those areas that are inundated or saturated by surface or groundwater at a frequency and duration sufficient
    to support, and that under normal circumstances do support, a prevalence of vegetation typically adapted for life in
    saturated soil conditions. </p>
"}}],"expanded":true,"headingLevel":"h2"},{"id":"6728877d-9943-4fd9-953f-779deb676342","title":"Step 3: Training
Balancing wetland conservation with the needs of people. This accordion title is three lines. The accordion pane will
display all the text.","placeholderTitle":"Pane
3","components":[{"componentName":"Header","componentProps":{"headerState":{"size":"small","alignment":"center-align","heading":"Small
header inside an accordion","headingLevel":"h2"}}},{"componentName":"Text","componentProps":{"body":"<p>Each county and
    region tends to have its own definition for legal purposes. In the United States, wetlands are defined as
    &quot;those areas that are inundated or saturated by surface or groundwater at a frequency and duration sufficient
    to support, and that under normal circumstances do support, a prevalence of vegetation typically adapted for life in
    saturated soil conditions. </p>
"}}],"expanded":true,"headingLevel":"h2"}]},"locked":false},{"id":"63efa3b1afd8baf3dddd6030","componentName":"Accordion","props":{"layoutState":[{"id":"f8368dbf-9d83-4fbe-8869-009742a53d08","title":"Step
1. Application","placeholderTitle":"Pane
1","components":[{"componentName":"Video","componentProps":{"videoState":{"id":"3bdd773e-a54d-42fd-b77b-5a47473d8d18","videoSource":"brightcove","videoURL":"https://edge.api.brightcove.com/playback/v1/accounts/23648095001/videos/5967111782001","videoDescription":"
<p>Exploring Rate, Ratio and Proportion</p>","videoCredit":"<p><a href=\"https://www.tvo.org\"
        target=\"_blank\">TVO<span><i class='anchor-icon'>&#xe802;</i></span><span class='sr-only'>(Opens in a new
            window)</span></a></p>
","videoId":"5967111782001","videoTextSettings":{"description":true,"credit":true}}}}],"expanded":true,"headingLevel":"h2"},{"id":"ce72e060-74a2-472a-b8c1-8ee62b649894","title":"Step
2: Access and Membership","placeholderTitle":"Pane
2","components":[{"componentName":"Table","componentProps":{"layoutState":{"headers":[{"accessorKey":"column1","id":"column1","header":""},{"accessorKey":"column2","id":"column2","header":""},{"accessorKey":"column3","id":"column3","header":""},{"accessorKey":"column4","id":"column4","header":""}],"data":[{"column1":{"value":"Consectetur
quia eius
explicabo","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column2":{"value":"Lorem
ipsum
dolor","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column3":{"value":"Repellat
nobis
veritatis","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"},"column4":{"value":"Autem
atque omnis
doloribus","type":"title","horizontalAlignment":"center-align","verticalAlignment":"middle-align"}},{"column1":{"value":"Architecto
deleniti officia sapiente rerum
sunt","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column2":{"value":"Eum
voluptatum adipisci, iusto reprehenderit tenetur
architecto?","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column3":{"value":"Itaque
obcaecati distinctio
molestiae","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"},"column4":{"value":"Consectetur
quia eius explicabo
voluptatibus","type":"cell","horizontalAlignment":"left-align","verticalAlignment":"middle-align"}}],"headerType":"top-header","hideTopHeader":false,"hideSideHeader":false,"showStripes":false}}}],"expanded":true,"headingLevel":"h2"},{"id":"6728877d-9943-4fd9-953f-779deb676342","title":"Step
3: Training Balancing wetland conservation with the needs of people. This accordion title is three lines. The accordion
pane will display all the text.","placeholderTitle":"Pane
3","components":[{"componentName":"Image","componentProps":{"imgSize":{"width":532,"height":650},"uploadedImg":{"295":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjI5NSwiaGVpZ2h0IjozNjAuNDMyMzMwODI3MDY3NjMsImZpdCI6ImNvdmVyIn19fQ==","532":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUzMiwiaGVpZ2h0Ijo2NTAsImZpdCI6ImNvdmVyIn19fQ==","664":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjY2NCwiaGVpZ2h0Ijo4MTEuMjc4MTk1NDg4NzIxNywiZml0IjoiY292ZXIifX19","710":"https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjcxMCwiaGVpZ2h0Ijo4NjcuNDgxMjAzMDA3NTE4NywiZml0IjoiY292ZXIifX19"},"imgLink":null,"alt":"","longDesc":"
<p>Portrait of an old man with a book wearing fancy pyjamas.</p>","caption":null,"credit":"<p>Unsplash</p>
","imageTextSettings":{"description":true,"credit":true,"fullWidth":false},"customAltTextOptionSelected":"","srcset":"\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjI5NSwiaGVpZ2h0IjozNjAuNDMyMzMwODI3MDY3NjMsImZpdCI6ImNvdmVyIn19fQ==
295w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjY2NCwiaGVpZ2h0Ijo4MTEuMjc4MTk1NDg4NzIxNywiZml0IjoiY292ZXIifX19
664w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjcxMCwiaGVpZ2h0Ijo4NjcuNDgxMjAzMDA3NTE4NywiZml0IjoiY292ZXIifX19
710w,\n
https://sih-qa.tvopublishing.com/eyJidWNrZXQiOiJzMy1jb3Vyc2VwdWJsaXNoZWQtdGVuYW50MS1xYTAxLWNhYzEtMDEiLCJrZXkiOiI2M2VmODcwZjNiNTc5YzJjMzQ2ZTkxZjYvMS9hbXAvbGVzc29ucy9hc3NldHMvc2JpNHVfMDFfMDIgMS5wbmciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjUzMiwiaGVpZ2h0Ijo2NTAsImZpdCI6ImNvdmVyIn19fQ==
532w\n ","sizes":"(max-width: 375px) 295px, (max-width: 759px) 532}px,
532px"}}],"expanded":true,"headingLevel":"h2"}]},"locked":false}]}],"parentCourseID":"63ef870f3b579c2c346e91f6","createdAt":"1676642116748","updatedAt":"1687370096455"},"path":[{"id":"63ef870f3b579c2c346e91f7","type":"unit","name":"","indexInParent":0}],"index":5,"quizReferences":[],"HTMLFilename":"U01_L07","lessonPath":"U01_L07","tenantData":{"brightcoveAccountId":"23648095001","brightcovePolicyKey":"BCpkADawqM0aUZtfCvrLXpdoRcRxqMw2xSWMkTuGLEdbP4URyJRFB643tzqk1xFEmnnA8aSBdxgvSZ4FFM2W-r3kGe8feBtXCfuM1w3SpjmEaI8_VwxsnjcFCfU","brightcovePlayer":"dykQDka9h","imageTenantUrl":"https://d1qstiujtcw6eg.cloudfront.net","bucketName":"s3-coursepublished-tenant1-qa01-cac1-01","imgKey":"63ef870f3b579c2c346e91f6/1/amp/lessons/assets/","serviceUrl":"https://sih-qa.tvopublishing.com"}},
"layout": "amp-layout.njk",
"permalink": "accordion-amp.html",
}
---

<h1 class="tgt-header">Accordion {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-script.html %}