---
{
"result":
{"__typename":"LessonStructureContainer","id":"63ef870f3b579c2c346e91f8","type":"lesson","name":"Text","courseCode":"AMP123","description":"","indexInParent":0,"componentContainer":{"__typename":"ComponentContainer","id":"63ef870f3b579c2c346e91f9","lastUpdateID":"92986","title":"Text","sections":[{"__typename":"Section","id":"63ef879c3b579c2c346ea0b1","type":"NONLEARNING","locked":false,"components":[{"id":"63ef87a02f3557ab437abdc3","componentName":"Text","props":{"body":"
<p>A learning mindset means that you see challenges as opportunities and that you are motivated to learn something new
    every day. eParachute founder Gary Bolles shows you how to develop a learning mindset so that learning becomes a
    habit and not a chore. Find your motivation to learn, explore how the brain acquires and retains information, and
    discover how to conduct a self-inventory that reveals what you&#x27;ve learned and how you learn best. Gary also
    introduces strategies to make learning a fun and rewarding practice that stays with you for
    life.<br /><br /><strong>When you finish this course you will know more about:</strong></p>
<ul>
    <li><span>Identification</li>
    <li><span>Ecology</li>
    <li><span>Human Impact</li>
</ul>"},"locked":false},{"id":"63ef87b03b579c2c346ea491","componentName":"Text","props":{"body":"<p>Wetlands are areas
    where the land is <a href=\"https://www.tvo.org\" target=\"_blank\">saturated by water<span><i
                class='anchor-icon'>&#xe802;</i></span><span class='sr-only'>(Opens in a new window)</span></a> for all
    or part of the year. They are places where soil and water meet. A wide variety of grasses, plants, birds, insects,
    and animals live in wetlands.</p>
"},"locked":false},{"id":"63ef88282f3557ab437abe4f","componentName":"Text","props":{"body":"<p><strong>Lorem
        ipsum</strong> dolor sit <em>amet consectetur</em> adipisicing elit. <u>Nam deleniti</u> vero, sed omnis placeat
    neque reiciendis ad sapiente vitae <strong><em><u>architecto ea</u></em></strong> enim consequuntur officiis
    <sub>eligendi</sub> in <sup>iure</sup> aperiam. <s>Iste</s>, amet.</p>
"},"locked":false},{"id":"63ef886b4bc668e04dd1f516","componentName":"Text","props":{"body":"<p
    class=\"ql-align-center\">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti vero, sed omnis
    placeat neque reiciendis ad sapiente vitae architecto ea enim consequuntur officiis eligendi in iure aperiam. Iste,
    amet.</p>"},"locked":false},{"id":"63ef88774bc668e04dd1f6a4","componentName":"Text","props":{"body":"<p
    class=\"ql-align-right\">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti vero, sed omnis
    placeat neque reiciendis ad sapiente vitae architecto ea enim consequuntur officiis eligendi in iure aperiam. Iste,
    amet.</p>"},"locked":false},{"id":"63ef88824bc668e04dd1f7c2","componentName":"Text","props":{"body":"<p>And lastly,
    a few examples of math equations created from our Text component:<br /><br /><span><span class=\"katex\"><span
                class=\"katex-mathml\"><math xmlns=\"http://www.w3.org/1998/Math/MathML\">
                    <semantics>
                        <mrow>
                            <mi>y</mi>
                            <mo>=</mo>
                            <mfrac>
                                <mrow>
                                    <mn>23</mn>
                                    <mi>x</mi>
                                    <mo>+</mo>
                                    <msqrt>
                                        <mrow>
                                            <mn>18</mn>
                                            <mi>x</mi>
                                            <mo>+</mo>
                                            <mn>2</mn>
                                        </mrow>
                                    </msqrt>
                                </mrow>
                                <mrow>
                                    <mn>16</mn>
                                    <msup>
                                        <mi>x</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <mo>−</mo>
                                    <mn>4</mn>
                                    <mi>x</mi>
                                </mrow>
                            </mfrac>
                        </mrow>
                        <annotation encoding=\"application/x-tex\">y=\\frac{23 x+\\sqrt{18 x+2}}{16 x^{2}-4 x}
                        </annotation>
                    </semantics>
                </math></span><span class=\"katex-html\" aria-hidden=\"true\"><span class=\"base\"><span class=\"strut\"
                        style=\"height:0.625em;vertical-align:-0.1944em;\"></span><span class=\"mord mathnormal\"
                        style=\"margin-right:0.03588em;\">y</span><span class=\"mspace\"
                        style=\"margin-right:0.2778em;\"></span><span class=\"mrel\">=</span><span class=\"mspace\"
                        style=\"margin-right:0.2778em;\"></span></span><span class=\"base\"><span class=\"strut\"
                        style=\"height:1.4413em;vertical-align:-0.4033em;\"></span><span class=\"mord\"><span
                            class=\"mopen nulldelimiter\"></span><span class=\"mfrac\"><span class=\"vlist-t
                                vlist-t2\"><span class=\"vlist-r\"><span class=\"vlist\" style=\"height:1.038em;\"><span
                                            style=\"top:-2.655em;\"><span class=\"pstrut\"
                                                style=\"height:3em;\"></span><span class=\"sizing reset-size6 size3
                                                mtight\"><span class=\"mord mtight\"><span class=\"mord
                                                        mtight\">16</span><span class=\"mord mtight\"><span class=\"mord
                                                            mathnormal mtight\">x</span><span class=\"msupsub\"><span
                                                                class=\"vlist-t\"><span class=\"vlist-r\"><span
                                                                        class=\"vlist\" style=\"height:0.7463em;\"><span
                                                                            style=\"top:-2.786em;margin-right:0.0714em;\"><span
                                                                                class=\"pstrut\"
                                                                                style=\"height:2.5em;\"></span><span
                                                                                class=\"sizing reset-size3 size1
                                                                                mtight\"><span class=\"mord
                                                                                    mtight\"><span class=\"mord
                                                                                        mtight\">2</span></span></span></span></span></span></span></span></span><span
                                                        class=\"mbin mtight\">−</span><span class=\"mord
                                                        mtight\">4</span><span class=\"mord mathnormal
                                                        mtight\">x</span></span></span></span><span
                                            style=\"top:-3.23em;\"><span class=\"pstrut\"
                                                style=\"height:3em;\"></span><span class=\"frac-line\"
                                                style=\"border-bottom-width:0.04em;\"></span></span><span
                                            style=\"top:-3.4282em;\"><span class=\"pstrut\"
                                                style=\"height:3em;\"></span><span class=\"sizing reset-size6 size3
                                                mtight\"><span class=\"mord mtight\"><span class=\"mord
                                                        mtight\">23</span><span class=\"mord mathnormal
                                                        mtight\">x</span><span class=\"mbin mtight\">+</span><span
                                                        class=\"mord sqrt mtight\"><span class=\"vlist-t
                                                            vlist-t2\"><span class=\"vlist-r\"><span class=\"vlist\"
                                                                    style=\"height:0.8712em;\"><span class=\"svg-align\"
                                                                        style=\"top:-3em;\"><span class=\"pstrut\"
                                                                            style=\"height:3em;\"></span><span
                                                                            class=\"mord mtight\"
                                                                            style=\"padding-left:0.833em;\"><span
                                                                                class=\"mord mtight\">18</span><span
                                                                                class=\"mord mathnormal
                                                                                mtight\">x</span><span class=\"mbin
                                                                                mtight\">+</span><span class=\"mord
                                                                                mtight\">2</span></span></span><span
                                                                        style=\"top:-2.8312em;\"><span class=\"pstrut\"
                                                                            style=\"height:3em;\"></span><span
                                                                            class=\"hide-tail mtight\"
                                                                            style=\"min-width:0.853em;height:1.08em;\"><svg
                                                                                xmlns=\"http://www.w3.org/2000/svg\"
                                                                                width='400em' height='1.08em'
                                                                                viewBox='0 0 400000 1080'
                                                                                preserveAspectRatio='xMinYMin slice'>
                                                                                <path
                                                                                    d='M95,702\nc-2.7,0,-7.17,-2.7,-13.5,-8c-5.8,-5.3,-9.5,-10,-9.5,-14\nc0,-2,0.3,-3.3,1,-4c1.3,-2.7,23.83,-20.7,67.5,-54\nc44.2,-33.3,65.8,-50.3,66.5,-51c1.3,-1.3,3,-2,5,-2c4.7,0,8.7,3.3,12,10\ns173,378,173,378c0.7,0,35.3,-71,104,-213c68.7,-142,137.5,-285,206.5,-429\nc69,-144,104.5,-217.7,106.5,-221\nl0 -0\nc5.3,-9.3,12,-14,20,-14\nH400000v40H845.2724\ns-225.272,467,-225.272,467s-235,486,-235,486c-2.7,4.7,-9,7,-19,7\nc-6,0,-10,-1,-12,-3s-194,-422,-194,-422s-65,47,-65,47z\nM834 80h400000v40h-400000z' />
                                                                            </svg></span></span></span><span
                                                                    class=\"vlist-s\">​</span></span><span
                                                                class=\"vlist-r\"><span class=\"vlist\"
                                                                    style=\"height:0.1688em;\"><span></span></span></span></span></span></span></span></span></span><span
                                        class=\"vlist-s\">​</span></span><span class=\"vlist-r\"><span class=\"vlist\"
                                        style=\"height:0.4033em;\"><span></span></span></span></span></span><span
                            class=\"mclose
                            nulldelimiter\"></span></span></span></span></span></span><br /><br /><span><span
            class=\"katex\"><span class=\"katex-mathml\"><math xmlns=\"http://www.w3.org/1998/Math/MathML\">
                    <semantics>
                        <mrow>
                            <msup>
                                <mi>a</mi>
                                <mn>2</mn>
                            </msup>
                            <mo>+</mo>
                            <msup>
                                <mi>b</mi>
                                <mn>2</mn>
                            </msup>
                            <mo>=</mo>
                            <msup>
                                <mi>c</mi>
                                <mn>2</mn>
                            </msup>
                        </mrow>
                        <annotation encoding=\"application/x-tex\">a^{2}+b^{2}=c^{2}</annotation>
                    </semantics>
                </math></span><span class=\"katex-html\" aria-hidden=\"true\"><span class=\"base\"><span class=\"strut\"
                        style=\"height:0.8974em;vertical-align:-0.0833em;\"></span><span class=\"mord\"><span
                            class=\"mord mathnormal\">a</span><span class=\"msupsub\"><span class=\"vlist-t\"><span
                                    class=\"vlist-r\"><span class=\"vlist\" style=\"height:0.8141em;\"><span
                                            style=\"top:-3.063em;margin-right:0.05em;\"><span class=\"pstrut\"
                                                style=\"height:2.7em;\"></span><span class=\"sizing reset-size6 size3
                                                mtight\"><span class=\"mord mtight\"><span class=\"mord
                                                        mtight\">2</span></span></span></span></span></span></span></span></span><span
                        class=\"mspace\" style=\"margin-right:0.2222em;\"></span><span class=\"mbin\">+</span><span
                        class=\"mspace\" style=\"margin-right:0.2222em;\"></span></span><span class=\"base\"><span
                        class=\"strut\" style=\"height:0.8141em;\"></span><span class=\"mord\"><span class=\"mord
                            mathnormal\">b</span><span class=\"msupsub\"><span class=\"vlist-t\"><span
                                    class=\"vlist-r\"><span class=\"vlist\" style=\"height:0.8141em;\"><span
                                            style=\"top:-3.063em;margin-right:0.05em;\"><span class=\"pstrut\"
                                                style=\"height:2.7em;\"></span><span class=\"sizing reset-size6 size3
                                                mtight\"><span class=\"mord mtight\"><span class=\"mord
                                                        mtight\">2</span></span></span></span></span></span></span></span></span><span
                        class=\"mspace\" style=\"margin-right:0.2778em;\"></span><span class=\"mrel\">=</span><span
                        class=\"mspace\" style=\"margin-right:0.2778em;\"></span></span><span class=\"base\"><span
                        class=\"strut\" style=\"height:0.8141em;\"></span><span class=\"mord\"><span class=\"mord
                            mathnormal\">c</span><span class=\"msupsub\"><span class=\"vlist-t\"><span
                                    class=\"vlist-r\"><span class=\"vlist\" style=\"height:0.8141em;\"><span
                                            style=\"top:-3.063em;margin-right:0.05em;\"><span class=\"pstrut\"
                                                style=\"height:2.7em;\"></span><span class=\"sizing reset-size6 size3
                                                mtight\"><span class=\"mord mtight\"><span class=\"mord
                                                        mtight\">2</span></span></span></span></span></span></span></span></span></span></span></span></span><br /><br /><span><span
            class=\"katex\"><span class=\"katex-mathml\"><math xmlns=\"http://www.w3.org/1998/Math/MathML\">
                    <semantics>
                        <mrow>
                            <mi>F</mi>
                            <mo>=</mo>
                            <mi>G</mi>
                            <mfrac>
                                <mrow>
                                    <msub>
                                        <mi>m</mi>
                                        <mn>1</mn>
                                    </msub>
                                    <msub>
                                        <mi>m</mi>
                                        <mn>2</mn>
                                    </msub>
                                </mrow>
                                <msub>
                                    <mi>d</mi>
                                    <mn>2</mn>
                                </msub>
                            </mfrac>
                        </mrow>
                        <annotation encoding=\"application/x-tex\">F=G \\frac{m_{1} m_{2}}{d_{2}}</annotation>
                    </semantics>
                </math></span><span class=\"katex-html\" aria-hidden=\"true\"><span class=\"base\"><span class=\"strut\"
                        style=\"height:0.6833em;\"></span><span class=\"mord mathnormal\"
                        style=\"margin-right:0.13889em;\">F</span><span class=\"mspace\"
                        style=\"margin-right:0.2778em;\"></span><span class=\"mrel\">=</span><span class=\"mspace\"
                        style=\"margin-right:0.2778em;\"></span></span><span class=\"base\"><span class=\"strut\"
                        style=\"height:1.1566em;vertical-align:-0.4451em;\"></span><span class=\"mord
                        mathnormal\">G</span><span class=\"mord\"><span class=\"mopen nulldelimiter\"></span><span
                            class=\"mfrac\"><span class=\"vlist-t vlist-t2\"><span class=\"vlist-r\"><span
                                        class=\"vlist\" style=\"height:0.7115em;\"><span style=\"top:-2.655em;\"><span
                                                class=\"pstrut\" style=\"height:3em;\"></span><span class=\"sizing
                                                reset-size6 size3 mtight\"><span class=\"mord mtight\"><span
                                                        class=\"mord mtight\"><span class=\"mord mathnormal
                                                            mtight\">d</span><span class=\"msupsub\"><span
                                                                class=\"vlist-t vlist-t2\"><span class=\"vlist-r\"><span
                                                                        class=\"vlist\" style=\"height:0.3173em;\"><span
                                                                            style=\"top:-2.357em;margin-left:0em;margin-right:0.0714em;\"><span
                                                                                class=\"pstrut\"
                                                                                style=\"height:2.5em;\"></span><span
                                                                                class=\"sizing reset-size3 size1
                                                                                mtight\"><span class=\"mord
                                                                                    mtight\"><span class=\"mord
                                                                                        mtight\">2</span></span></span></span></span><span
                                                                        class=\"vlist-s\">​</span></span><span
                                                                    class=\"vlist-r\"><span class=\"vlist\"
                                                                        style=\"height:0.143em;\"><span></span></span></span></span></span></span></span></span></span><span
                                            style=\"top:-3.23em;\"><span class=\"pstrut\"
                                                style=\"height:3em;\"></span><span class=\"frac-line\"
                                                style=\"border-bottom-width:0.04em;\"></span></span><span
                                            style=\"top:-3.4101em;\"><span class=\"pstrut\"
                                                style=\"height:3em;\"></span><span class=\"sizing reset-size6 size3
                                                mtight\"><span class=\"mord mtight\"><span class=\"mord mtight\"><span
                                                            class=\"mord mathnormal mtight\">m</span><span
                                                            class=\"msupsub\"><span class=\"vlist-t vlist-t2\"><span
                                                                    class=\"vlist-r\"><span class=\"vlist\"
                                                                        style=\"height:0.3173em;\"><span
                                                                            style=\"top:-2.357em;margin-left:0em;margin-right:0.0714em;\"><span
                                                                                class=\"pstrut\"
                                                                                style=\"height:2.5em;\"></span><span
                                                                                class=\"sizing reset-size3 size1
                                                                                mtight\"><span class=\"mord
                                                                                    mtight\"><span class=\"mord
                                                                                        mtight\">1</span></span></span></span></span><span
                                                                        class=\"vlist-s\">​</span></span><span
                                                                    class=\"vlist-r\"><span class=\"vlist\"
                                                                        style=\"height:0.143em;\"><span></span></span></span></span></span></span><span
                                                        class=\"mord mtight\"><span class=\"mord mathnormal
                                                            mtight\">m</span><span class=\"msupsub\"><span
                                                                class=\"vlist-t vlist-t2\"><span class=\"vlist-r\"><span
                                                                        class=\"vlist\" style=\"height:0.3173em;\"><span
                                                                            style=\"top:-2.357em;margin-left:0em;margin-right:0.0714em;\"><span
                                                                                class=\"pstrut\"
                                                                                style=\"height:2.5em;\"></span><span
                                                                                class=\"sizing reset-size3 size1
                                                                                mtight\"><span class=\"mord
                                                                                    mtight\"><span class=\"mord
                                                                                        mtight\">2</span></span></span></span></span><span
                                                                        class=\"vlist-s\">​</span></span><span
                                                                    class=\"vlist-r\"><span class=\"vlist\"
                                                                        style=\"height:0.143em;\"><span></span></span></span></span></span></span></span></span></span></span><span
                                        class=\"vlist-s\">​</span></span><span class=\"vlist-r\"><span class=\"vlist\"
                                        style=\"height:0.4451em;\"><span></span></span></span></span></span><span
                            class=\"mclose
                            nulldelimiter\"></span></span></span></span></span></span><br /><br /><span><span
            class=\"katex\"><span class=\"katex-mathml\"><math xmlns=\"http://www.w3.org/1998/Math/MathML\">
                    <semantics>
                        <mrow>
                            <mover accent=\"true\">
                                <mi>f</mi>
                                <mo>^</mo>
                            </mover>
                            <mo stretchy=\"false\">(</mo>
                            <mi>b</mi>
                            <mo stretchy=\"false\">)</mo>
                            <mo>=</mo>
                            <msubsup>
                                <mo>∫</mo>
                                <mrow>
                                    <mo>−</mo>
                                    <mi mathvariant=\"normal\">∞</mi>
                                </mrow>
                                <mrow>
                                    <mo>−</mo>
                                    <mi mathvariant=\"normal\">∞</mi>
                                </mrow>
                            </msubsup>
                            <mi>f</mi>
                            <mo stretchy=\"false\">(</mo>
                            <mi>x</mi>
                            <mo stretchy=\"false\">)</mo>
                            <msup>
                                <mi>e</mi>
                                <mrow>
                                    <mo>−</mo>
                                    <mn>2</mn>
                                    <mi>π</mi>
                                    <mi>x</mi>
                                    <mi>i</mi>
                                    <mi>y</mi>
                                </mrow>
                            </msup>
                            <mi>d</mi>
                            <mi>x</mi>
                        </mrow>
                        <annotation encoding=\"application/x-tex\">\\hat{f}(b)=\\int_{-\\infty}^{-\\infty}f(x)e^{-2\\pi
                            xiy}dx</annotation>
                    </semantics>
                </math></span><span class=\"katex-html\" aria-hidden=\"true\"><span class=\"base\"><span class=\"strut\"
                        style=\"height:1.2079em;vertical-align:-0.25em;\"></span><span class=\"mord accent\"><span
                            class=\"vlist-t vlist-t2\"><span class=\"vlist-r\"><span class=\"vlist\"
                                    style=\"height:0.9579em;\"><span style=\"top:-3em;\"><span class=\"pstrut\"
                                            style=\"height:3em;\"></span><span class=\"mord mathnormal\"
                                            style=\"margin-right:0.10764em;\">f</span></span><span
                                        style=\"top:-3.2634em;\"><span class=\"pstrut\"
                                            style=\"height:3em;\"></span><span class=\"accent-body\"
                                            style=\"left:-0.0833em;\"><span
                                                class=\"mord\">^</span></span></span></span><span
                                    class=\"vlist-s\">​</span></span><span class=\"vlist-r\"><span class=\"vlist\"
                                    style=\"height:0.1944em;\"><span></span></span></span></span></span><span
                        class=\"mopen\">(</span><span class=\"mord mathnormal\">b</span><span
                        class=\"mclose\">)</span><span class=\"mspace\" style=\"margin-right:0.2778em;\"></span><span
                        class=\"mrel\">=</span><span class=\"mspace\"
                        style=\"margin-right:0.2778em;\"></span></span><span class=\"base\"><span class=\"strut\"
                        style=\"height:1.3804em;vertical-align:-0.4142em;\"></span><span class=\"mop\"><span class=\"mop
                            op-symbol small-op\"
                            style=\"margin-right:0.19445em;position:relative;top:-0.0006em;\">∫</span><span
                            class=\"msupsub\"><span class=\"vlist-t vlist-t2\"><span class=\"vlist-r\"><span
                                        class=\"vlist\" style=\"height:0.9662em;\"><span
                                            style=\"top:-2.3442em;margin-left:-0.1945em;margin-right:0.05em;\"><span
                                                class=\"pstrut\" style=\"height:2.7em;\"></span><span class=\"sizing
                                                reset-size6 size3 mtight\"><span class=\"mord mtight\"><span
                                                        class=\"mord mtight\">−</span><span class=\"mord
                                                        mtight\">∞</span></span></span></span><span
                                            style=\"top:-3.2579em;margin-right:0.05em;\"><span class=\"pstrut\"
                                                style=\"height:2.7em;\"></span><span class=\"sizing reset-size6 size3
                                                mtight\"><span class=\"mord mtight\"><span class=\"mord
                                                        mtight\">−</span><span class=\"mord
                                                        mtight\">∞</span></span></span></span></span><span
                                        class=\"vlist-s\">​</span></span><span class=\"vlist-r\"><span class=\"vlist\"
                                        style=\"height:0.4142em;\"><span></span></span></span></span></span></span><span
                        class=\"mspace\" style=\"margin-right:0.1667em;\"></span><span class=\"mord mathnormal\"
                        style=\"margin-right:0.10764em;\">f</span><span class=\"mopen\">(</span><span class=\"mord
                        mathnormal\">x</span><span class=\"mclose\">)</span><span class=\"mord\"><span class=\"mord
                            mathnormal\">e</span><span class=\"msupsub\"><span class=\"vlist-t\"><span
                                    class=\"vlist-r\"><span class=\"vlist\" style=\"height:0.8247em;\"><span
                                            style=\"top:-3.063em;margin-right:0.05em;\"><span class=\"pstrut\"
                                                style=\"height:2.7em;\"></span><span class=\"sizing reset-size6 size3
                                                mtight\"><span class=\"mord mtight\"><span class=\"mord
                                                        mtight\">−</span><span class=\"mord mtight\">2</span><span
                                                        class=\"mord mathnormal mtight\"
                                                        style=\"margin-right:0.03588em;\">π</span><span class=\"mord
                                                        mathnormal mtight\">x</span><span class=\"mord mathnormal
                                                        mtight\">i</span><span class=\"mord mathnormal mtight\"
                                                        style=\"margin-right:0.03588em;\">y</span></span></span></span></span></span></span></span></span><span
                        class=\"mord mathnormal\">d</span><span class=\"mord
                        mathnormal\">x</span></span></span></span></span> <br /> <br /> </p>
"},"locked":false}]}],"parentCourseID":"63ef870f3b579c2c346e91f6","createdAt":"1676642063716","updatedAt":"1687372109523"},"path":[{"id":"63ef870f3b579c2c346e91f7","type":"unit","name":"","indexInParent":0}],"index":1,"quizReferences":[],"HTMLFilename":"U01_L01","lessonPath":"U01_L01","tenantData":{"brightcoveAccountId":"23648095001","brightcovePolicyKey":"BCpkADawqM0aUZtfCvrLXpdoRcRxqMw2xSWMkTuGLEdbP4URyJRFB643tzqk1xFEmnnA8aSBdxgvSZ4FFM2W-r3kGe8feBtXCfuM1w3SpjmEaI8_VwxsnjcFCfU","brightcovePlayer":"dykQDka9h","imageTenantUrl":"https://d1qstiujtcw6eg.cloudfront.net","bucketName":"s3-coursepublished-tenant1-qa01-cac1-01","imgKey":"63ef870f3b579c2c346e91f6/1/amp/lessons/assets/","serviceUrl":"https://sih-qa.tvopublishing.com"}},
"layout": "amp-layout.njk",
"permalink": "text-amp.html",
}
---

<h1 class="tgt-header">Text {{projectConfig.version}} - {{projectConfig.date}}</h1>

{% include amp-script.html %}