---
pagination:
  data: contentResults
  alias: result
  size: 1
layout: amp-layout.njk
permalink: "{{result.HTMLFilename}}.html"
---

{% include amp-script.html %}

{% comment %} 
<script type="text/javascript">
console.log("Dumping data object here");
console.log({{ result | json }});
</script>
{% endcomment %}