.wrapper.accordion-component {
  .btn.link {
    @include button-text;
    color: $button-active;
    text-decoration: none;

    &:focus-visible {
      @include outline-focus;
    }

    &:hover {
      background-color: $body-highlight;
      color: $hover-dialog-bg;
    }

    &:disabled {
      opacity: 0.2;
      box-shadow: none;
      pointer-events: none;
    }
    .expand-collapse {
      -webkit-font-smoothing: antialiased;
    }
  }

  .vertical-bar {
    color: $vertical-line;
  }

  .accordion {
    clear: right;

    section {
      &:first-child {
        .accordion-pane {
          border-radius: 0.625rem 0.625rem 0 0;
        }
      }

      &:last-child {
        .accordion-pane {
          border-bottom-left-radius: 0.625rem;
          border-bottom-right-radius: 0.625rem;
          border-bottom: 0.0625rem solid $component-border;
        }

        .section-content {
          border-radius: 0 0 0.625rem 0.625rem;
        }

        &[expanded] {
          .accordion-pane {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          .section-content {
            border-bottom: 1px solid $component-border;
          }
        }
      }

      .accordion-pane {
        background-color: $inactive-bg;
        border: 0.0625rem solid $component-border;
        border-bottom: none;
        padding: 1.0625rem 1.5rem;
        @include header-4;

        &:hover {
          background-color: $hover-bg;
      
          .accordion-title {
            text-decoration-line: underline;
          }
      
          .chevron-down {
            background-color: $active-bg;
          }
        }

        &:focus-within {
          outline: none;
        }
        
        &:focus-visible {
          @include outline-focus;
          z-index: 99;
        }

        @media only screen and (max-width: 345px) {
          padding: 1.5rem 1rem;
        }

        .accordion-title-container {
          display: flex;
          align-items: center;
            
          span.accordion-title {
            width: calc(100% - 1.5rem);
            margin-right: 1.5rem;
          }

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $amp-icons-font;
            font-style: normal;
            font-weight: normal;
            color: $chevron-color;
            /* Font smoothing. That was taken from TWBS */
            -webkit-font-smoothing: antialiased;
            border-radius: 50%;
            padding: 0.875rem 0.625rem;

            &:before {
              position: relative;
              top: 2px;
            }
          }

          .hidden-icon {
            display: none;
          }
        }
      }

      &[expanded] {
        .accordion-pane {
          background-color: $active-bg;
          border-bottom: 0.0625rem solid $component-border;

          &:focus-visible {
            @include outline-focus;
            z-index: 99;
          }

          .chevron-up {
            background-color: $brand-500;
            color: $white;
          }
        }
      }

      .section-content {
        border-color: $component-border;
        background-color: $primary-bg;
        padding: 1.5rem;

        // This strips paragraph tags of global styles for nesting inside other components
        p {
          margin: 0;
        }

        .text-component {
          padding: 0;
        }

        .video-component {
          padding: 0;
        }

        .img-component {
          padding: 0rem;
          margin: 0rem;
          margin-bottom: 2rem;

          .caption {
            @media (max-width: 759px) {
              padding: 1rem 0 0 0;
            }
          }
        }

        .wrapper {
          padding: 0;
          &:nth-last-child(2) {
            // This clears the bottom-margin that is added to text/other components
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
