.wrapper.bottom-margin-1.assessment-component {
    gap: 1.5rem;
    width: auto;
    display: flex;
  }
  .save_submit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .lrn_widget.lrn_mcq .lrn_mcqgroup.lrn_mcqgroup-horizontal .lrn-input {
    margin-top: 12px !important;
    top:auto !important;
    bottom: auto !important;
    outline-offset: 2px !important;
  }
  .lrn_widget input[type=radio]{
    cursor: pointer !important;
  }