.wrapper.image {
  @include max-width-2;
  @include image-description-text;
  @media(max-width: 759px) {
    padding: 0;
  }
}
.img-component {
  .amp-img {
    max-width: 100%;
    margin: auto;
  }
  .caption {
    @include a-tag-image-description;
    @include image-description-text;
    letter-spacing: 0.01em;
    padding-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    p {
      margin: 0;
    }

    @media(max-width: 759px) {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    @media(max-width: 375px) {
      padding-left: 0.875rem;
      padding-right: 0.875rem;
    }
    @media(max-width: 960px) {
      padding-top: 1rem;
    }
    @media(max-width: 345px) {
      padding-top: 0.5rem;
    }

    .text-component.wrapper {
      @include a-tag-image-description;
      @include image-description-text;
      margin: 0;
      padding: 0;
    }

    em {
      @include image-credit-text;
      p {
        display: inline-block;
      }

      a {
        @include image-credit-text;
      }
    }
  }
}
