/* styles for infobox and quote */
.wrapper.infobox-component {
  .max-content {
    @include max-width-2; // Setting max-width to 2 allows the infobox to fill the wrapper width
    background-color: $transparent-grey-50;
    border-radius: 0.625rem;
    width: 100%;

    .infobox-flex-container {
      width: 100%;
      display: flex;

      @media only screen and (max-width: 560px) {
        flex-direction: column;
      }

      .icon-container {
        background-color: $brand-50;
        border-radius: 0.625rem 0 0 0.625rem;
        padding: 2.625rem 2.5rem 2.5rem 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: 759px) {
          padding: 2rem;
        }

        @media only screen and (max-width: 560px) {
          align-items: flex-start;
          padding: 1.5rem 1.5rem 1rem 1.5rem;
          border-radius: 0.625rem 0.625rem 0 0;
        }

        .icon {
          width: 7.375rem;
          height: 7.1875rem;

          @media only screen and (max-width: 560px) {
            width: 4.6875rem;
            height: 4.6875rem;
          }
        }

        p {
          @include image-description-text;
          text-align: center;
          text-transform: uppercase;
          color: $brand-700;
          margin: 1.5rem 0 0 0;
          font-weight: 600;
          max-width: 7.375rem;

          @media only screen and (max-width: 560px) {
            margin: 1rem 0 0 0;
            max-width: unset;
          }
        }
      }

      // Styles generally related to section-content:
      .section-content {
        padding: 2.5rem;
        word-break: break-word;

        @media only screen and (max-width: 759px) {
          padding: 2rem;
        }

        @media only screen and (max-width: 560px) {
          padding: 1rem 1.5rem 1.5rem 1.5rem;
          width: auto;
        }

        .info-header {
          @include header-3;
          padding: 0;
          margin-bottom: 1.5rem;

          @media only screen and (max-width: 759px) {
            margin-bottom: 1rem;
          }
        }

        .header-component {
          padding: 0;
          hyphens: auto;
        }

        // This clears padding and corrects bottom-margin from text/image/video component when inside other components
        @include strip-nested-text-component;
        @include strip-nested-image-component;
        @include strip-nested-video-component;

        // This removes bottom margin from the last nested component
        @include remove-last-child-btm;
      }

      // Below are styles if no icon has been selected
      &.no-icon {
        .icon-container {
          display: none;
        }

        .section-content {
          width: 100%;

          @media only screen and (max-width: 560px) {
            width: auto;
          }

          .label-without-icon {
            display: block;
            @include image-description-text;
            margin: 0 0 1rem 0;
            text-transform: uppercase;
            font-weight: 600;
            color: $brand-700;
          }
        }
      }

      // Below are styles for .section-content if an icon has been selected:
      &.icon-selected {
        .section-content {
          width: 100%;

          @media only screen and (max-width: 560px) {
            width: unset;
          }
        }

        .label-without-icon {
          display: none;
        }
      }
    }
  }
}
