.wrapper.table {
    display: block;
    overflow-x: overlay;
    overflow-y: hidden;
    position: relative;
    padding: 0;
    &:focus-visible {
        @include outline-focus;
        border-radius: 0.625rem;
        z-index: 1;
    }
  
    .table {
        border-spacing: 0;
        max-width: 47.5rem;
        table-layout: fixed;
        width: 100%;
    }
    td, th {
        padding: 1rem;
        word-break: break-word;
        white-space: pre-line;

        &.top-align {
            vertical-align: top;
        }

        &.middle-align {
            vertical-align: middle;
        }

        &.bottom-align {
            vertical-align: bottom;
        }

        @media (max-width: 759px) {
            padding: 0.75rem;
        }
    }
    td {
        @include body-text;
        
        text-align: left;
        border: 0.0625rem solid $border-color;
        border-top: none;
        border-right: none;
        
        @media(max-width: 640px) {
            word-wrap: break-word;
            min-width: 8rem;
        }

        @media(max-width: 759px) {
            font-size: 1.25rem;
            line-height: 1.875rem;
        }

        &:last-child {
            border-right: 0.0625rem solid $border-color;
        }
    }

    th {
        @include header-5;
        @media(max-width: 759px) {
            font-size: 1rem;
            line-height: 1.5rem;
        }
        background-color: $brand-100;
        border: 0.0625rem solid #55c367;
        border-right: none;
        &:first-child {
            border-top-left-radius: 0.625rem;
        }
        &:last-child {
            border-top-right-radius: 0.625rem;
            border-right: 0.0625rem solid #55c367;
        }
        &::selection {
            background: $brand-200;
        }
    }

    tr {
        &:last-child {
            td:first-child {
                border-bottom-left-radius: 0.625rem;
            }
            td:last-child {
                border-bottom-right-radius: 0.625rem;
            }
        }
    }

    /*** scrollbar starts here ***/
    &::-webkit-scrollbar {
        height: 0.8125rem;
      }

    &::-webkit-scrollbar-thumb {
    background:rgba(0, 0, 0, 0.6);
    height: 3.5rem;
    border-radius: 0.5rem;
    border: 0.25rem solid transparent;
    background-clip: content-box;
    }

    @media (max-width: 825px) {
        padding: 0;
        margin: 0 1rem 2rem;
    }
    /*** scrollbar Ends Here ***/

    .showStripes {
        tr {
            &:nth-child(even) {
                background-color: $transparent-grey-50;
            }
        }
    }

    .hideTopHeader {
        tr:first-child {
            td {
                border-top: 0.0625rem solid $border-color;
                &:first-child {
                    border-top-left-radius: 0.625rem;
                }
                &:last-child {
                    border-top-right-radius: 0.625rem;
                }
            }
        }
    }

    /*** side-header starts here ***/
    .side-header {
        th {
            border-top-left-radius: 0px;
            border-top: none;
            border-right: 0.0625rem solid #55c367;
        }
        tr:first-child {
            td {
                border-top: 0.0625rem solid rgba(0, 0, 0, 0.15);
                &:last-child {
                    border-top-right-radius: 0.625rem;
                }
            }
            th {
                border-top-left-radius: 0.625rem;
                border-top: 0.0625rem solid #55c367;
            }
        } 
        tr:last-child {
            th {
                border-bottom-left-radius: 0.625rem;
            }
        }
        tr {
            td:nth-child(2) {
                border-left: none;
            }
        }
    }
    .hideSideHeader {
        tr:first-child {
            td:first-child {
                border-top-left-radius: 0.625rem;
            }
        }
        td:first-child {
            border-right: 0.0625rem solid rgba(0, 0, 0, 0.15);
        }
    }
    /*** side-header ends here ***/

    /*** Align Starts Here ***/
    .center-align {
        text-align: center;
    }

    .left-align {
        text-align: left;
    }

    .right-align {
        text-align: right;
    }

    .middle-align {
        vertical-align: middle;
    }

    .top-align {
        vertical-align: top;
    }

    .bottom-align {
        vertical-align: bottom;
    }
    /*** Align Ends Here ***/
    .hidemefromUsers {
        position: absolute;
        left: -99em;
        height: 0;
    }  
}
.wrapper.table.breakpointHeader {
    max-width: var(--width-3);
    .table {
        width: 60rem;
        max-width: inherit;
    }
    @media (max-width: 1024px) {
        padding: 0;
        margin: 0 1rem 2rem;
    }
}

.wrapper.table.sideHeaderMobile {
    .table {
        @media (max-width: 830px) {
            width:100%
        }
        @media (max-width: 759px) {
            th {
                width: 35%;
            }
        }
    }
} 

.wrapper.table.sideHeaderMobile3 {
    .table {
        @media (max-width: 759px) {
            th {
                width: 20%;
            }
        }
    }
} 