.wrapper.bottom-margin-3.video-component {
  max-width: 960px;

  p {
    margin: 0;
  }

  .brightcove {
    max-height: 540px;
  }

  .transcript-wrapper {
    position: relative;
    max-width: 768px;
    margin: auto;
  }

  .hideview {
    margin-top: 0.215625rem;
    visibility: hidden;
  }

  .hideview,
  .view {
    height: 0;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }

  .view {
    height: 200px;
    margin-top: 1.5rem;
    padding: 15px;
    border: 1px solid $component-border;
    border-radius: 9px 9px 0 0;
    visibility: visible;
    &:focus-visible {
      outline: auto 1px;
    }
  }

  .transcript {
    overflow-y: scroll;

    p {
      font-family: $header-font;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4rem;
      letter-spacing: 0.03em;
      white-space: break-spaces;
    }
  }

  .transcript::-webkit-scrollbar {
    width: 14px;
  }

  .transcript::-webkit-scrollbar-track {
    border-radius: 0 9px 0px 0;
    background-color: rgba(249, 249, 249, 1);
    border-left: 1px solid $component-border;
  }

  .transcript::-webkit-scrollbar-thumb {
    background: #737272;
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  .description-container {
    padding: 0 0.25rem;
    margin-top: 0.75rem;
    font-family: $header-font;

    @media (max-width: 759px) {
      padding: 0 0.25rem;
    }

    .description-flex-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @include a-tag-style;
      
      a {
        @include image-description-text;
        color: $grey-900;
      }

      .description-text-less,
      .description-text-more {
        .text-component.wrapper {
          @include a-tag-image-description;
          @include image-description-text;
          @include a-tag-style;
          margin: 0;
          padding: 0;
        }

        a {
          @include image-description-text;
          color: $grey-900;
        }

        @media (max-width: 759px) {
          order: 2;
        }

        .description-only {
          margin-bottom: 0;
        }

        .video-credit {
          @include image-credit-text;
          margin-top: 0.625rem;
          margin-bottom: 0.313rem; // Video credit underline is faint.

          .text-component.wrapper {
            width: 100%;

            a {
              @include a-tag-style;
              @include image-credit-text;
            }

            p {
              @include image-credit-text;
              &::before {
                content: "Credit: ";
              }
            }
          }
        }
      }

      .description-text-less {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;

        p {
          max-height: 4.2rem;
        }
      }

      .transcript-button {
        @include button-text;
        height: 2.875rem;
        padding: 0.75rem 1.9375rem;
        color: $grey-900;
        text-align: center;
        background: $transparent-grey-100;
        border: none;
        position: relative;
        border-radius: 0.3125rem;
        cursor: pointer;
        margin-bottom: 16px;

        &:hover {
          background: $transparent-grey-300;
        }

        &:focus-visible {
          outline: none;
        }

        // This resolves outline issue in Safari
        &:focus-visible::before {
          content: "";
          position: absolute;
          top: -0.25rem; // border: 2px + offset: 2px
          right: -0.25rem; // border: 2px + offset: 2px
          bottom: -0.25rem; // border: 2px + offset: 2px
          left: -0.25rem; // border: 2px + offset: 2px
          border: 0.125rem solid $tab-focus;
          border-radius: 0.625rem; // border—radius: 8px + offset: 2px
        }
      }
    }
  }

  .show-more-button,
  .show-less-button {
    text-transform: uppercase;
    color: $grey-700;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0em;
    margin: 0.625rem 0 0 0;
    padding: 0;
    border: none;
    border-radius: 0.125rem;
    position: relative;
    background: none;

    &:hover {
      background: $body-highlight;
      cursor: pointer;
    }

    &:focus-visible {
      outline: none;
    }

    // This resolves outline issue in Safari
    &:focus-visible::before {
      content: "";
      position: absolute;
      top: -0.25rem; // border: 2px + offset: 2px
      right: -0.25rem; // border: 2px + offset: 2px
      bottom: -0.25rem; // border: 2px + offset: 2px
      left: -0.25rem; // border: 2px + offset: 2px
      border: 0.125rem solid $tab-focus;
      border-radius: 0.125rem; // border—radius: 2px + offset: 1px
    }
    order: 3;
  }
}

.wrapper.video-component {
  @media (max-width: 759px) {
    padding: 0 3.125rem;
  }

  @media (max-width: 375px) {
    padding: 0 1rem;
  }
}
