$text-component-levels: 200;
.text-component {
  @include body-text;
  @include a-tag-style;
  p {
    margin: 0 0 1.25rem 0;
    .math-formula {
      white-space: break-spaces;
      .MathJax_Display {
        margin: 0;
      }
    }
  }

  ul,
  ol {
    margin-top: 1rem;
    padding-inline-start: 2rem;
  }

  ol {
    list-style-type: none;
  }

  li {
    padding-bottom: 0.875rem;
  }

  @function counter-style($level) {
    $adjustedLevel: $level - 1;
  
    @if $adjustedLevel % 3 == 0 {
      @return decimal;
    } @else if $adjustedLevel % 3 == 1 {
      @return lower-alpha;
    } @else {
      @return lower-roman;
    }
  }

  @mixin generate-nested-selectors($level) {
    $selector: '';
  
    @for $i from 1 through $level {
      $selector: $selector + 'ol ';
    }
  
    #{$selector} {
      list-style-type: counter-style($level);
    }
  }

  @for $i from 1 through $text-component-levels {
    @include generate-nested-selectors($i);
  }
  
  // Align text right
  .ql-align-right {
    text-align: right;
    list-style-position: inside;
  }

  // Align text center
  .ql-align-center {
    text-align: center;
    list-style-position: inside;
  }
}

.katex-html{
  display: none;
}
