.wrapper.reveal-component {
  .accordion {
    clear: right;

    section {
      &:first-child {
        .reveal-pane {
          border-radius: 0.625rem 0.625rem 0 0;
        }
      }

      &:last-child {
        .reveal-pane {
          border-bottom-left-radius: 0.625rem;
          border-bottom-right-radius: 0.625rem;
          border-bottom: 0.0625rem solid $component-border;
        }

        .section-content {
          border-radius: 0 0 0.625rem 0.625rem;
        }

        &[expanded] {
          .reveal-pane {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-color: #CEF6D5;
          }

          .section-content {
            border-bottom: 1px solid $component-border;
          }
        }
      }

      .reveal-pane {
        background-color: #CEF6D5;
        border: 0.0625rem solid $component-border;
        border-bottom: none;
        padding: 1.0625rem 1.5rem;
        @include header-4;
       
        &:hover {
          background-color: #91E09E;
        .reveal-title {
              text-decoration-line: underline;
          }
        .chevron-down {
            background-color: #CEF6D5;
          }
        }

        &:focus-within {
          outline: none;
        }
        
        &:focus-visible {
          @include outline-focus;
          z-index: 99;
        }

        @media only screen and (max-width: 375px) {
          padding: 1rem 1rem;
        }

        .reveal-title-container {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
            
          .reveal-title {
              margin-right: 1.5rem;
          }

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $amp-icons-font;
            font-style: normal;
            font-weight: normal;
            color: $chevron-color;
            /* Font smoothing. That was taken from TWBS */
            -webkit-font-smoothing: antialiased;
            border-radius: 50%;
            padding: 0.875rem 0.625rem;

            &:before {
              position: relative;
              top: 2px;
            }
          }

          .hidden-icon {
            display: none;
          }
        }
      }

      &[expanded] {
        .reveal-pane {
          background-color: $active-bg;
          border-bottom: 0.0625rem solid $component-border;

          &:focus-visible {
            @include outline-focus;
            z-index: 99;
          }

          .chevron-up {
            background-color: #EEFFF1;
          }
        }
      }

      .section-content {
        border-color: $component-border;
        background-color: $primary-bg;
        padding: 1.5rem;

        // This strips paragraph tags of global styles for nesting inside other components
        p {
          margin: 0;
        }

        .text-component {
          padding: 0;
        }

        .img-component {
          padding: 0rem;
          margin: 0rem;
          margin-bottom: 2rem;

          .caption {
            @media (max-width: 759px) {
              padding: 1rem 0 0 0;
            }
          }
        }

        .wrapper {
          padding: 0;

          &:nth-last-child(2).bottom-margin {
            // This clears the bottom-margin that is added to text/other components
            margin-bottom: 0;
          }

          &:nth-last-child(2).bottom-margin-3 {
            // This clears the bottom-margin that is added to image components
            margin-bottom: 0;
          }
        }
      }
    }
    .header-component {
      padding-left: 0;
    }
  }
}
  