@import '_amp-accordion';
@import '_amp-click-to-reveal';

.wrapper.tabs-component {
  max-width: var(--width-2);
  // Brightcove videos inside tabs are too wide to fit on small
  // viewports with the default padding. This reduces the outer
  // padding between the tab border and the viewport to 5px to
  // alleviate the problem.
  p {
    margin: 0;
  }

  @include remove-last-child-btm; // This clears the bottom-margin that is added to text/other components

  .tabs {
    &[role="tablist"] {
      /* Styles for the flex layout based tabs */
      display: flex;
      flex-wrap: wrap;

      [role="tab"] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        box-sizing: border-box;
        border: 0.0625rem solid $tab-border-color;
        border-left-width: 0.0625rem;
        border-radius: 0.625rem 0.625rem 0 0;
        box-shadow: inset 0px -4px 8px rgba(161, 162, 163, 0.13);
        height: 4.625rem;
        background-color: $transparent-grey-100;
        margin: 0;

        .tab-title {
          font-style: normal;
          text-align: center;
          word-wrap: break-word;
          overflow-x: hidden;
          overflow-y: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          margin: 0;
          @include header-5;

          @media only screen and (max-width: 759px) {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }

        &:not(:first-child) {
          margin-left: -0.0625rem;
        }

        &:first-child {
          border-left-width: 0.0625rem;
        }

        .hoverTabText {
          font-family: $header-font;
          font-size: 1.125rem;
          font-weight: 600;
          line-height: 1.6875rem;
          position: absolute;
          display: none;
          background: $grey-800;
          border-radius: 0.625rem;
          width: unset;
          color: $white;
          padding: 0.625rem 1rem;
          top: 4.6875rem;
          z-index: 99;

          &::selection {
            color: $primary-body-text;
          }
        }

        .hoverTabText2 {
          width: 45.5%;
        }
        .hoverTabText3 {
          width: 30%;
        }
        .hoverTabText4 {
          width: 23%;
        }

        &:hover,
        &:focus-visible {
          background-color: $primary-bg;

          .hoverTabText {
            display: block;
            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          }
        }

        &:hover {
          text-decoration-line: underline;
          box-shadow: inset 0px -4px 8px rgba(161, 162, 163, 0.13);
        }

        &[selected] {
          background-color: $white;
          position: relative;
          color: $grey-900;
          border-bottom: none;
          box-shadow: none;

          .tab-title {
            font-weight: bold;
          }

          .tab-bottom-border {
            border-bottom: 0.25rem solid $tab-border-bottom;
            position: absolute;
            bottom: 0;
            height: 0.25rem;
            width: 80%;
            margin: 0 auto;
          }

          .hoverTabText {
            font-family: $header-font;
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1.6875rem;
            position: absolute;
            background: $grey-800;
            border-radius: 0.625rem;
            width: unset;
            color: $white;
            padding: 0.625rem 1rem;
            top: 4.6875rem;
            z-index: 99;

            &::selection {
              color: $primary-body-text;
            }
          }

          &:hover {
            text-decoration-line: none;
          }
        }
      }

      & [role="tabpanel"] {
        display: none;
        width: 100%;
        order: 1;
        border-color: $tab-border-color;
        background: $white;
        border-radius: 0 0 0.625rem 0.625rem;
        padding: 1.25rem 1.5rem;

        @media only screen and (max-width: 759px) {
          padding: 1rem 1.5rem;
        }

        .amp-img {
          max-width: 44.375rem;
        }
      }

      & [role="tab"][selected] + [role="tabpanel"] {
        display: block;
        margin: 0;
      }

      & [role="tab"],
      & [role="tabpanel"] {
        &:focus-within {
          outline: none;
        }

        &:focus-visible {
          @include outline-focus;
          z-index: 99;
        }
      }
    }

    // images and videos inside tabs have their own wrappers,
    // and they probably aren't .wrapper.inner, so this forces
    // them to behave as if they have the inner rule, so we dont
    // get "dobule padding" inside tab content.
    .wrapper {
      padding: 0;
    }
  }

  // Remove default AMP selector outline styles
  amp-selector [option][selected] {
    cursor: auto;
    outline: none;
  }
}

.hideAccordion {
  display: none;
}

@media (max-width: 759px) {
  .hideAccordion {
    display: block;
  }
  .wrapper.tabs-component {
    display: none;
  }
}
