.wrapper.multi-column-component {
  gap: 1.5rem;
  width: auto;
  display: flex;

  @media(max-width: 720px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .left-column {
    @include strip-nested-image-component;
  }
  
  .right-column {
    @include strip-nested-image-component;
  }

  .left-column, .right-column {
    width: 100%;
    .text-component {
      padding: 0rem;
      margin: 0rem;

      @media only screen and (max-width: 720px) {
        margin: 1rem;
      }
    }
    .img-component {
      padding: 0rem;
      margin: 0rem;
      margin-bottom: 2rem;
    }
  }
  
  // vertical alignment START
  &.column-bottom {
    .left-column, .right-column {
      margin-top: auto;
    }
  }

  &.column-center {
    .left-column, .right-column {
      margin: auto 0;
    }
  }
  // vertical alignment END

  // column size START
  &.fifty-fifty {
    .right-column,
    .left-column {
      width: calc(50% - 0.75rem);
      max-width: 23rem;

      @media only screen and (max-width: 720px) {
        max-width: 100vw;
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &.thirty-seventy {
    .right-column {
      width: calc(70% - 0.75rem);
      max-width: 32.2rem;
    }
    .left-column {
      width: calc(30% - 0.75rem);
      max-width: 15.3rem;

    .left-column,
    .right-column {
      @media only screen and (max-width: 720px) {
        max-width: 100vw;
      }
    }
      .caption.center {
        padding-top: 0rem;
      }
    }
  }

  &.seventy-thirty {
    .right-column {
      width: calc(30% - 0.75rem);
      .caption.center {
        padding-top: 0rem;
      }
    }
    .left-column {
      width: calc(70% - 0.75rem);
    }
  }

  &.seventy-thirty, &.thirty-seventy{
    .left-column, .right-column {
      @media(max-width: 720px) {
        width: 100%;
      }
    }
  }

  // column size END
}