// Variables
// Colors
$black: rgba(35, 35, 35, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(21, 101, 192, 1);
$lightBlue: rgba(21, 101, 192, 0.12);
$disabled: rgba(0, 0, 0, 0.38);

.componentSideMenuContainer {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 1099 !important;
  padding-right: 0.375rem;

  .componentSideMenuNestedContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    justify-content: center;
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    border: 0.0625rem solid #e0e0e0;
    background: #fff;
    box-shadow: 0rem 0rem 0.1875rem 0rem rgba(35, 35, 35, 0.15),
      -0.0625rem 0rem 0.3125rem 0rem rgba(161, 162, 163, 0.2),
      0.1875rem 0.1875rem 0.25rem 0rem rgba(35, 35, 35, 0.15);

    .tooltipNestedSideMenu {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(97, 97, 97, 0.9);
      font-family: Inter;
      font-size: 0.625rem;
      font-style: normal;
      font-weight: 500;
      line-height: 0.875rem;
    }

    .sideMenuDeleteIconButton {
      color: $black;
      // hover, active, focus states
      &:hover,
      &:active,
      &:focus-visible {
        // color: $blue !important;
        cursor: pointer;
        background-color: $lightBlue !important;
        & path {
          stroke: $blue !important;
        }
        & rect {
          fill: $blue !important;
        }
      }
    }

    .sideMenuIconButton {
      color: $black;
      // hover, active, focus states
      &:hover,
      &:active,
      &:focus-visible {
        cursor: pointer;
        background-color: $lightBlue !important;
        color: $blue !important;

        & svg {
          color: $blue !important;
        }
        & path {
          fill: $blue !important;
        }
      }
      &:disabled {
        color: $disabled;
      }
    }
  }
}
