.image-component-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none;
  // Image Frame
}
.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: none !important;
  margin: 0 auto;
  max-width: 60.5rem;
  // No image container
  .image-default-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28.5px;
    width: var(--imageWidth);
    max-width: var(--maxWidth);

    // Default no image icon
    .icon-container {
      width: 200px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    // Select image from CKfinder button
    .select-image {
      height: 42px;
      width: 143px;
      background-color: rgba(21, 101, 192, 1);
      color: rgba(255, 255, 255, 1);
      border: none;
      border-radius: 4px;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0.46px;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: 2px solid rgba(0, 0, 0, 1);
      }
    }
  }
  .no-image {
    height: 427.5px;
  }
}
// Description & Credit Container
.image-text-container {
  width: 78%;
  margin: auto;
  .description-credit-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px auto 0px auto;
    & > div {
      position: relative;
      min-height: 20px;
    }
    .image-credit {
      position: relative;
      min-height: 20px;
    }
  }
}

.ckimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
