html {
  font-family: $body-font;
  font-size: 16px;
  color: $primary-body-text;
}

body {
  background-color: $desktop-background;

  // Changes the highlight background color
  ::selection {
    background: $body-highlight;
  }
}

// *:focus {
//     @include outline-focus;
//     outline-offset: 2px;
//     z-index: 1;
// }
// :-moz-focusring is a FF only equivalent of :focus-visible.
// normalize.css is setting this to the tiny dotted outline, so this rule
// resets it back to behave similar to our style's default :focus behavior,
// as defined in the rule above.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  @include outline-focus;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $header-font;
  font-weight: 600;
  margin-top: 0;

  &.border-bottom {
    border-color: $heading-underline;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
  }
}

h1,
.h1,
.header-1 {
  @include header-1;
}
h2,
.h2,
.header-2 {
  @include header-2;
}
h3,
.h3,
.header-3 {
  @include header-3;
}
h4,
.h4,
.header-4 {
  @include header-4;
}
h5,
.h5,
.header-5 {
  @include header-5;
}
h6,
.h6,
.header-6 {
  @include header-6;
}

.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.alert {
  padding: 15px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 0px;

  &.alert-warning {
    color: $warning-text;
    background-color: $warning-bg;
  }

  & > p {
    margin-bottom: 0;
  }
}

.box-shadow {
  @include box-shadow;
}

.box-shadow-darker {
  @include box-shadow-darker;
}

.std-radius {
  border-radius: $btn-primary-rad;
}

.noclick {
  cursor: default;
  pointer-events: none;
}

// Use this for Font-Awesome icons that want to be positioned "beside" text as if there is a space.
.fa.left-space {
  padding-left: 0.25rem;
}

.tgt-learning {
  background-color: #FFFFFF;
  max-width: 64rem;
  border-radius: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.15);
  &:first-of-type {
    margin-top: 1.5rem;
    @media (max-width: 560px) {
      margin-top: 1rem;
    }
  }
  &:last-of-type {
    margin-bottom: 2.5rem;
  }
  @media(max-width: 1024px) {
    border-radius: 0;
  }
  @media(max-width: 720px) {
    display: flow-root;
    margin-top: 1rem;
  }
}

.tgt-header {
  max-width: 64rem;
  margin: 1.5rem auto 0;
  @media(max-width: 560px) {
    margin-top: 1rem;
    display: grid;
    gap: 8px;
  }

  @media(max-width: 1040px) {
    padding-left: 16px;
  }

  .tgt-course {
    color: $brand-700;
    background-color: $brand-100;
    padding: 0px 8px;
    border-radius: 2rem;
    width: fit-content;
    margin-right: 16px;
  }
}



