$btn-primary-rad: 6px;
$btn-primary-ht: 48px;

$btn-goto-rad: 16px;
$btn-goto-size: 32px;

.visible-360,
.visible-475,
.visible-640,
.visible-832,
.visible-900 {
    display: none;
}

// 360px (min breakpoint)
@media(min-width: 360px) {
    .visible-360 {
        display: block;
    }
    .hidden-360 {
        display: none;
    }
}

// Graph iFrame size (475px) - special case
@media(min-width: 475px) {
    .visible-475 {
        display: block;
    }
    .hidden-475 {
        display: none;
    }
}

// 640px (max "mobile" breakpoint)
@media(min-width: 640px) {
    .visible-640 {
        display: block;
    }
    .hidden-640 {
        display: none;
    }
}

// 832px (max "tablet" breakpoint)
@media(min-width: 832px) {
    .visible-832 {
        display: block;
    }
    .hidden-832 {
        display: none;
    }
}

// Most ILOs are 900x500
@media(min-width: 900px) {
    .visible-900 {
        display: block;
    }
    .hidden-900 {
        display: none;
    }
}

// A wrapper holds one or more components.
// By default, most wrappers have some left and right padding, and a max-width-3
// This is the equivalent of .max-width-3 .mx-auto .px3 
.wrapper {
    @include max-width-2;
    margin: 0 auto;
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    @media(max-width: 560px) {
        padding-left: var(--space-2);
        padding-right: var(--space-2);
    }

    // wrapper.inner is a wrapper inside a wrapper.
    // This removes the left/right padding
    &.inner {
        padding-left: 0;
        padding-right: 0;
    }

    // wrapper.bottom-margin adds a bottom margin for spacing between two wrappers
    &.bottom-margin-1 {
        margin-bottom: 1rem;
    }
    &.bottom-margin-2 {
        margin-bottom: 2rem;
    }
    &.bottom-margin-2_5{
        margin-bottom: 2.5rem;
        @media(max-width: 760px) {
            margin-bottom: 2rem;
        }
    }
    &.bottom-margin-3 {
        margin-bottom: 3rem;
        @media(max-width: 760px) {
            margin-bottom: 2rem;
        }
    }
}
.inline-table{ display:inline-table }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}