.multiColumnContainer {
  width: 100%;
  display: flex;
  align-items: var(--alignment);
  gap: 1.5rem;
  padding: 0rem 10.4%;

  .mainContainer {
    padding: 0px;
  }
}

.fiftyFifty,
.thirtySeventy,
.seventyThirty {
  border-width: 0.0625rem;
  flex-shrink: 0; /* prevent these items from shrinking */

  .ql-container {
    padding: 0px;
    word-break: break-word;
  }

  .ql-editor.ql-blank::before {
    padding: 0px;
  }

  .image-text-container .description-credit-container {
    width: auto;
  }
}

.fiftyFifty {
  flex-grow: 0; /* prevent this item from growing */
  flex-basis: 50%; /* set the initial main size of this item to 50% */
  min-width: 50%;
  max-width: 50%;

  .ql-editor {
    min-height: 144px;
  }
}

.seventyThirty {
  flex-grow: 0; /* prevent this item from growing */
  flex-basis: 70%; /* set the initial main size of this item to 70% */
  min-width: 70%;
  max-width: 70%;

  &:nth-of-type(2) {
    flex-grow: 0; /* prevent this item from growing */
    flex-basis: 30%; /* set the initial main size of this item to 30% */
    min-width: 30%;
    max-width: 30%;

    .ql-editor {
      min-height: 280px;
    }
  }
}

.thirtySeventy {
  flex-grow: 0; /* prevent this item from growing */
  flex-basis: 30%; /* set the initial main size of this item to 30% */
  min-width: 30%;
  max-width: 30%;

  .ql-editor {
    min-height: 280px;
  }

  &:nth-of-type(2) {
    flex-grow: 0; /* prevent this item from growing */
    flex-basis: 70%; /* set the initial main size of this item to 70% */
    min-width: 70%;
    max-width: 70%;

    .ql-editor {
      min-height: 95px;
    }
  }
}


.fiftyFifty,
.thirtySeventy,
.seventyThirty {
  .image-text-container {
    padding-bottom: 0px;
  }
  .image-text-container .ql-editor {
    min-height: 0px;
  }
}

.placeHolder {
  margin-bottom: 0;
  margin-top: 0.625rem;
  color: rgba(99, 99, 99, 1);
}

.subPlaceHolder {
  margin-top: 0;
  color: #1565c0;
}

.placeholderError {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0.9375rem 1.0625rem;
  margin: 0;
  background-color: rgba(211, 47, 47, 0.04);
  color: #d32f2f;
  line-height: 143%;
}

.placeholderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20.9375rem;
  padding: 1.875rem;
  font-size: 0.875rem;
  line-height: 1.37375rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
  text-align: center;

  h3 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.00125rem;
    margin: 0;
  }
}
