@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
// Variables
// Colors
$black: rgba(35, 35, 35, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(21, 101, 192, 1);
$lightBlue: rgba(21, 101, 192, 0.12);
$disabled: rgba(0, 0, 0, 0.38);
// Box Shadows
$toolbarShadow: 0px 1px 3px 0px rgba(35, 35, 35, 0.1),
  0px 2px 5px 0px rgba(161, 162, 163, 0.2),
  3px 3px 4px 0px rgba(35, 35, 35, 0.15);

// Outer Toolbar Container
.ToolbarContainer {
  // positioning
  display: var(--active);
  & .MuiPaper-root {
    background-color: transparent;
  }

  // Entire Toolbar *Appbar*
  .StyledAppbar {
    background-color: transparent;
    display: var(--display);
    width: var(--width);
    left: var(--left);
    flex-direction: var(--direction) !important;
    gap: var(--gap);
    box-shadow: var(--boxShadow);
    border-radius: 4px;
    letter-spacing: 0.15px;
    // Theme related - to match component side to authoring styles
    color: rgba(0, 0, 0, 0.87);

    // Toolbar
    .StyledToolbar {
      // positioning
      display: grid !important;
      position: var(--position) !important;
      grid-template-columns: var(--grid-template-columns) !important;
      justify-items: var(--justify-items);
      align-items: center;
      // size
      width: var(--width) !important;
      height: 40px !important;
      min-height: 40px !important;
      // color
      background-color: $white;
      color: $black;
      box-shadow: var(--boxShadow);
      // box model
      border-left: var(--borderLeft);
      border-radius: 4px;
      padding: 0px 3px !important;

      & .MuiPaper-root {
        background-color: #fff;
      }

      // Dropdown format options individual icons (Top Level)
      .StyledIconButton {
        // positioning
        display: flex !important;
        justify-content: center;
        align-items: center;

        // size
        width: 30px;
        height: 30px;

        // box model
        padding: 0px !important;
        margin: 0px;

        // color
        color: $black;
        background: var(--background) !important;

        // border
        border: none;
        border-radius: 4px !important;

        // icon svg
        & svg {
          fill: var(--active);
          opacity: var(--disabled);

          & path {
            fill: var(--active);
          }

          & line {
            fill: var(--active);
            stroke: var(--active);
          }

          & mask {
            & path {
              fill: #fff !important;
            }
          }
        }

        &.active {
          background-color: $lightBlue !important;

          & svg {
            fill: $blue !important;
          }

          // disabled state while active (this removes button styling when no components nested inside MultiColumn)
          &:disabled {
            background-color: $white !important;
            cursor: not-allowed;
            opacity: 0.3;

            & svg {
              fill: $black !important;
            }
          }
        }

        // disabled state
        &:disabled {
          background-color: $white;
          cursor: not-allowed;
          opacity: 0.3;
        }

        // hover, focus states
        &:hover,
        &:focus-visible {
          cursor: pointer;
          background-color: $lightBlue !important;

          & line {
            fill: $blue !important;
          }

          & mask {
            & path {
              fill: #fff !important;
            }
          }
        }
      }

      .StyledCard {
        position: absolute;
        display: var(--card-display);
        z-index: 25;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        left: var(--left);
        bottom: -42px;
        height: 40px !important;
        width: var(--width);
        background-color: #fff;
        box-shadow: var(--box-shadow) !important;
      }

      // Divider for formatting options
      .StyledDivider {
        height: 25px;
        width: 0.5px;
        background-color: #e0e0e0 !important;
        margin: 0 3.5px;
      }
    }
  }
}
