
{%- if result.componentContainers %}
  {% assign resultComponentContainers = result.componentContainers[0].sections %}
{%- else %}
  {% assign resultComponentContainers = result.componentContainer.sections %}
{%- endif %}


{%- for section in resultComponentContainers -%}
  {% include amp-section.html section: section tenantData: result.tenantData %}
{%- endfor -%}

<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true, }, showMathMenu: false, menuSettings: { inTabOrder: false }, displayAlign: "left" });
</script>
{%- if includeAMPscript == true %}
  <script
    id="api-script"
    type="text/plain"
    target="amp-script">
    const getFile = (url, callback) => { // get file from a URL link
    url = url.replace("http://", "https://");
    var httpRequest = new XMLHttpRequest(),
      response,
      getResponse = function() { // response handler
        try {
          if (httpRequest.readyState === 4) {
            if (httpRequest.status === 200) {
              response = httpRequest.responseText;
              if (response === "{null}") { // some API requests return '{null}' will breaks JSON.parse
                response = null;
              }
              callback(response); // return the response
            } else {
              callback(null);
            }
          }
        } catch (e) {
          callback(null);
        }
      };
      httpRequest.onreadystatechange = getResponse; // set response handler
      httpRequest.open("GET", url); // open the request
      httpRequest.send(); // open and send request
    };
    const fetchAPI = async () => {
      const videoURL = document.querySelector('div').textContent;
      const headers = {
        "BCOV-Policy": '{{ result.tenantData.brightcovePolicyKey }}'
    };
    const result = await fetch(videoURL, {headers});
    const data = await result.json();
    if (data.text_tracks[1].sources !== null) {
      const chosenTrack = data.text_tracks[1].src;
      getFile(chosenTrack, function(response) {
        if (response) {
            var responseEdited = response.replace( "X-TIMESTAMP-MAP=LOCAL:00:00:00.000,MPEGTS:0", "" );
            const regex = /\d\d:\d\d\.\d\d\d\s+-->\s+\d\d:\d\d\.\d\d\d.*\n/gi;
            responseEdited = responseEdited.replace(regex, "");
            responseEdited = responseEdited.replace("WEBVTT", "");
            responseEdited = responseEdited.replace("00:00.000 --> 01:00:00.000", "");
            responseEdited = responseEdited.replace(/^(?:[\t ]*(?:\r?\n|\r))+/, "");
            responseEdited = responseEdited.replaceAll("<br />", "");
            responseEdited = responseEdited.replaceAll("&quot;", '"');
            responseEdited = responseEdited.replaceAll("&apos;", "'");

            const divBody = document.querySelector('div');
            const p = document.createElement('p');
            p.textContent = responseEdited;
            divBody.appendChild(p);
          }
        });
      }
    };
    fetchAPI();
    document.querySelector('div').textContent = "";

  </script>
{% endif %}

<script type="text/javascript" src="https://items.learnosity.com/?v2022.3.LTS"></script>
<script>
  // Declare variables
  let itemsApp;
  const data = {{ data | json }}; // Get data from a source and parse as JSON
  const result = {{ result | json }}; // Get result from a source and parse as JSON
  const {activityID, componentID} = data; // Extract activityID and componentID from data object
  const quizReferences = result.quizReferences; // Get quizReferences from result object
  console.log("Learnosity initiating...")

// Initialize the LearnosityItems library
  function init(data) {
    itemsApp = LearnosityItems.init(data, componentID, {
      readyListener() {
        console.log("Learnosity Items API is ready");
      },
      errorListener(err) {
        console.log("error", err);
      }
    });
  }

// Function to generate a UUID v4
  function uuidv4() {
    return([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c => (c ^ (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))).toString(16));
  }

// Generate UUIDs for user_id, session_id, and activityId
  const user_id = uuidv4();
  const session_id = uuidv4();
  const activityId = uuidv4();

// Fetch data from the student API using the generated UUIDs and quizReferences
  fetch(`${
    result.studentAPI
  }?${
    new URLSearchParams({
      user_id,
      session_id,
      itemArray: quizReferences,
      componentId: componentID,
      activityId
    })
  }`).then(response => response.json()) // Parse response as JSON
.then(data => init(data.response)) // Call init function with response data
.catch(error => console.error(error)); // Handle any errors that occur during fetch
</script>