<div class="tabs-component wrapper bottom-margin-3">
    {%- assign tabListId = 'tablist' | append: data.id -%}
    <amp-selector
        class="tabs"
        role="tablist"
        keyboard-select-mode="select"
        id="{{tabListId}}">

    {%- for tab in data.props.layoutState -%}

        <header id="{{tabListId}}_tab{{forloop.index}}"
            role="tab"
            aria-controls="{{tabListId}}_tabpanel{{forloop.index}}"
            class="p1"
            option
            style="width: calc(100% / {{data.props.layoutState.length}})"
        {% if forloop.index == 1 -%}
            selected
        {%- endif -%}
        >
            <span class="tab-title">{{tab.title}}</span>
        {% if tab.title.length > 84 and data.props.layoutState.length == 2 -%}
            <span class="hoverTabText hoverTabText2" aria-hidden="true">
                {{tab.title}}
            </span>
        {% elsif tab.title.length > 46 and data.props.layoutState.length == 3 -%}
            <span class="hoverTabText hoverTabText3" aria-hidden="true">
                {{tab.title}}
            </span>
        {% elsif tab.title.length > 33 and data.props.layoutState.length == 4 -%}
            <span class="hoverTabText hoverTabText4" aria-hidden="true">
                {{tab.title}}
            </span>
        {%- endif -%}
            <div class="tab-bottom-border"></div>
        </header>


        <div id="{{tabListId}}_tabpanel{{forloop.index}}"
            role="tabpanel"
            aria-labelledby="{{tabListId}}_tab{{forloop.index}}"
            class="border-left border-right border-bottom px3 pt3"
            tabindex="0"
        >

            {%- for c in tab.components -%}
                {% include content-model-parser.liquid item:c nestedImageTabs:true %}

            {%- endfor -%}
        </div>
    {%- endfor -%}

    </amp-selector>
</div>

<div class="hideAccordion">
    {% include amp-accordion.html data:data %}
</div>
