
{% assign dataMaxWidth = data.imgSize.width %}

{% if data.imgSize.width > 760 %}
  {% assign dataMaxWidth = 760 %}
{% endif %}   

<div 
{% if data.imageTextSettings.fullWidth %}
class="max-width-4 mx-auto mb4 img-component"
{% else %}
class="image wrapper {{wrapperStyles | default: 'bottom-margin-3'}} img-component"
{% endif %}
>

  <amp-img
      width="{{data.imgSize.width}}" 
      height="{{data.imgSize.height}}"
      class="amp-img"
      layout="responsive"
      alt="{{data.alt}}"
      {% if data.uploadedImg contains ".gif" %}
      src="{{tenantData.imageTenantUrl}}/{{data.uploadedImg}}"
      style="width: {{data.imgSize.width}}px"
      {% else %}
      src="{{data.uploadedImg[data.imgSize.width]}}"
      srcset="{{data.srcset}}"
      sizes="{{data.sizes}}"
      disable-inline-width
      {% endif %}
  >

  </amp-img>
  {% assign figcaptionWidth = data.imgSize.width %}

  {% if data.imageTextSettings.fullWidth %}
    {% assign figcaptionWidth = 760 %}
  {% endif %}

  {% if data.imageTextSettings.description == true or data.imageTextSettings.credit == true %}
    {% assign captionDisplay = "block" %}
  {% else %}
    {% assign captionDisplay = "none" %}
  {% endif %}
    <figcaption
      style="
        max-width: {{figcaptionWidth}}px;
        display: {{captionDisplay}};
      "
      class="caption"
    >
      {% if data.imageTextSettings.description == true and data.longDesc.length > 0 %}
        {%- include amp-text.html desc:data.longDesc -%}
      {% endif %}
      {% if data.imageTextSettings.credit == true and data.credit.length > 0 %}
        <em>Credit:&nbsp;{{ data.credit | replace: '<span><i', '&nbsp;<span><i' }}</em>
        {%comment%}Adding space between link text and icon{%endcomment%}
      {% endif %}
    </figcaption>
</div>