<amp-state id="selected">
    {% assign dataId = data.uuid | replace: "-", "_" %}
  <script type="application/json">
    {
      "slide_{{dataId}}": 0
    }
  </script>
</amp-state>
<div class="carousel wrapper bottom-margin-2">
    <amp-carousel
        width="3"
        height="2.5"
        layout="responsive"
        type="slides"
        controls
        data-next-button-aria-label="Go to next slide"
        data-previous-button-aria-label="Go to previous slide"
        on="slideChange:AMP.setState({selected: {slide_{{dataId}}: event.index}})"
    > 
    
    {%- for slide in data.slides -%}
        <section class="slide-wrapper px2">
            {% if slide.type == "formatted_text" %}
                <div class="slide-text p3 box-shadow">
                {%- include amp-formatted-text.html data:slide wrapperStyles:"inner" -%}
                </div>
            {% else %}
                <div class="slide-image box-shadow">
               {% include amp-image.html data:slide  wrapperStyles:"inner"%}
                </div>
            {% endif %} 
        </section>
    {%- endfor -%}
    </amp-carousel>
    <div class="dots-wrapper">
     <p class="dots">
     <span [class]="selected.slide_{{dataId}} == 0 ? 'current' : ''" class="current"></span>
        {%- for slide in data.slides -%}
            {% if forloop.last == false %}
                <span [class]="selected.slide_{{dataId}} == {{ forloop.index }} ? 'current' : ''"></span>
            {% endif %}
        {%- endfor -%}
    </p>
    </div>
</div>
