
{% assign dataMaxWidth = data.imgSize.width %}

{% if data.imgSize.width > 760 %}
  {% assign dataMaxWidth = 760 %}
{% endif %}   

<div 
  class="image wrapper {{wrapperStyles | default: 'bottom-margin-3'}} img-component"
>

  <amp-img
      width="{{data.imgSize.width}}"
      height="{{data.imgSize.height}}"
      class="amp-img"
      layout="responsive"
      alt="{{data.alt}}"
      {% if data.uploadedImg contains ".gif" %}
      src="{{tenantData.imageTenantUrl}}/{{data.uploadedImg}}"
      style="max-width: {{data.imgSize.width}}px"
      {% else %}
      src="{{tenantData.imageTenantUrl}}/{{data.uploadedImg}}"
      style="max-width: {{data.imgSize.width}}px;"
      {% comment %}
      src="{{data.uploadedImg[data.imgSize.width]}}"
      srcset="
        {{data.uploadedImg[295]}} 295w,
        {{data.uploadedImg[512]}} 512w,
        {{data.uploadedImg[680]}} 680w,
        {{data.uploadedImg[data.imgSize.width]}} {{data.imgSize.width}}w
      "
      sizes="
        {% if data.imgSize.width < 560 %}
          (max-width: 560px) {{data.imgSize.width}}px,
        {% else %}
          (max-width: 560px) calc(100vw - 5rem),
        {% endif %}
        {% if data.imgSize.width > 482 %}
          (min-width: 561px) 482px,
        {% else %}
          (min-width: 561px) {{data.imgSize.width}}px,
        {% endif %}
        (max-width: 759px) 466px,
        {{data.imgSize.width}}px
      "
      {% endcomment %}
      {% endif %}
  >

  </amp-img>
  {% assign figcaptionWidth = data.imgSize.width %}

  {% if data.imageTextSettings.fullWidth %}
    {% assign figcaptionWidth = 760 %}
  {% endif %}

  {% if data.imageTextSettings.description == true or data.imageTextSettings.credit == true %}
    {% assign captionDisplay = "block" %}
  {% else %}
    {% assign captionDisplay = "none" %}
  {% endif %}
    <figcaption
      style="
        max-width: {{figcaptionWidth}}px;
        display: {{captionDisplay}};
      "
      class="caption"
    >
      {% if data.imageTextSettings.description == true and data.longDesc.length > 0 %}
        {%- include amp-text.html desc:data.longDesc -%}
      {% endif %}
      {% if data.imageTextSettings.credit == true and data.credit.length > 0 %}
        <em>Credit:&nbsp;{{ data.credit | replace: '<span><i', '&nbsp;<span><i' }}</em>
        {%comment%}Adding space between link text and icon{%endcomment%}
      {% endif %}
    </figcaption>
</div>