<div class="wrapper bottom-margin-3 video-component">
    {%- assign preveVideoId = 'video' | append: data.videoId | remove: "-" -%}

    {%comment%} There are two of the same id since tab changes into accordion in mobile {%endcomment%}

    {% if videoId == preveVideoId -%}
        {%- assign videoId = 'videoAccordion' | append: data.videoId | remove: "-" -%}
        {%- assign showVideoId = 'showVideoIdAccordion' | append: data.videoId | remove: "-" -%}
        {%- assign hideVideoId = 'hideVideoIdAccordion' | append: data.videoId | remove: "-" -%}
    {%- else -%}
        {%- assign videoId = 'video' | append: data.videoId | remove: "-" -%}
        {%- assign showVideoId = 'showVideoId' | append: data.videoId | remove: "-" -%}
        {%- assign hideVideoId = 'hideVideoId' | append: data.videoId | remove: "-" -%}
    {%- endif -%}
    
    {%- assign videoDescription = data.videoDescription | remove_first: "<p>" | remove: "</p>" -%}
    {%- assign videoCredit = data.videoCredit | remove_first: "<p>" | remove: "</p>" -%}
    {%- assign displayDescription = data.videoTextSettings.description -%}
    {%- assign displayCredit = data.videoTextSettings.credit -%}

    {% if data.videoSource == "brightcove" or data.videoSource == "youtube" -%}
    
        <div class="brightcove">
            <amp-brightcove
                data-account="{{tenantData.brightcoveAccountId}}"
                data-player={{tenantData.brightcovePlayer}}
                data-video-id="{{ data.videoId }}"
                layout="responsive"
                width="760"
                height="420"
                noloading
            >
            </amp-brightcove>
        </div>
   
    {% elsif data.videoSource == "youTube" %}
    
    {%- assign videoId = data.videoId | split: '=' | last -%}
    
        <div class="youtube">

        {%comment%}
            The player will always be 16x9 (widescreen) and take up the "full width" of it's parent.
            The Youtube player itself will determine the height/width of the video source, and letterbox
            as needed.
            The Placeholder image will be stretched to "full width" regardless of thumbnail dimensions.
        {%endcomment%}

            <amp-youtube
                width="16"
                height="9"
                layout="responsive"
                data-param-modestbranding="1"
                data-param-rel="1"
                data-videoid="{{ videoId }}"
            >
                <amp-img
                    src="http://i3.ytimg.com/vi/mM5_T-F1Yn4/hqdefault.jpg"
                    placeholder
                    layout="fill"
                ></amp-img>
            </amp-youtube>

        </div>
    {%- endif -%}
    <amp-script layout="fill" script="api-script" class="transcript-wrapper">
        <div id="focus-here_{{ videoId }}" tabindex="0" class="hideview transcript" [class]="hid_{{ videoId }} ? 'view transcript': 'hideview transcript'">
            {{ data.videoURL }}
        </div>
        <div class="description-container">
            <div class="description-flex-container">
                <button
                class="transcript-button"
                aria-label="View transcript"
                [aria-label]="hid_{{ videoId }} ? 'Hide Transcript': 'View Transcript'"
                on="tap:AMP.setState({ hid_{{ videoId }} : !hid_{{ videoId }}}), focus-here_{{ videoId }}.focus"
                [text]="hid_{{ videoId }} ? 'Hide Transcript': 'View Transcript'"
                >
                    View transcript
                </button>
                <div class="description-text-less" id="{{videoId}}" [class]="buttonToggleVideo_{{videoId}} ? 'description-text-more' : 'description-text-less'">
                    {%- if videoDescription.length > 0 and displayDescription == true -%}
                        {% if videoDescription != " " %}
                            <div [class]="{{displayCredit}} ? 'description' : 'description-only'">
                                {%- include amp-text.html desc:data.videoDescription -%}
                            </div>
                        {% endif %}
                    {%- endif -%}
                    {% if videoCredit.length > 0 and videoCredit != null and displayCredit == true %}
                        {% if videoDescription.length > 204 %}
                            <div [class]="buttonToggleVideo_{{ videoId }} ? 'video-credit' : 'sr-only'">
                                {%- include amp-text.html desc:data.videoCredit -%}
                            </div>
                        {% else %}
                            <div class="video-credit">
                                {%- include amp-text.html desc:data.videoCredit -%}
                            </div>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if videoDescription.length > 204 and displayDescription != false %}
                <button
                    class="show-more-button"
                    id="{{ showVideoId }}"
                    on="tap:{{ showVideoId }}.hide,{{ hideVideoId }}.show, AMP.setState({ buttonToggleVideo_{{ videoId }}: true })"
                    aria-hidden="true"
                >
                    Show more
                </button>
                <button
                    hidden
                    id="{{ hideVideoId }}"
                    class="show-less-button"
                    on="tap:{{ showVideoId }}.show,{{ hideVideoId }}.hide,AMP.setState({ buttonToggleVideo_{{ videoId }}: false })"
                    aria-hidden="true"
                >
                    Show less
                </button>
            {% endif %}
        </div>
    </amp-script>

</div>


