{% assign questions = data.questions %}
{% assign count = 0 %}
{% assign quizId = {{data.uuidClean %}
{% assign prevFocusable = "" %}
{% assign firstFocusable = "" %}
<div class="quiz wrapper bottom-margin-2" id="quizTop{{quizId}}">
<amp-state id="countCorrect{{quizId}}">
  <script type="application/json">
    0
  </script>
</amp-state>
{% include amp-formatted-text.html data:data wrapperStyles:"inner" %}
    {{data.introduction}}
      {% for question in questions %}
        {% if count == 0 %}
          <section class="page px3 active-page" [class]="quizPage{{quizId}} > 0 ? 'page px3 previous' : 'page px3 active-page'">
        {% else %}
          <section class="page px3 next" [class]="quizPage{{quizId}}  < {{ count }} ? 'page px3 next' : (quizPage{{quizId}}  > {{ count }} ? 'page px3 previous' : 'page px3 active-page')">
        {% endif %}
        {% assign count = count | plus: 1 %}
        <div class="max-width-1 mx-auto">
          <p class="header-5">Question {{ count }} of {{ questions.size }}</p>
          {% if question.type == "quiz_true_false_question" %} 
            {% include amp-true-false-question.html data:question %}
          {% elsif question.type == "quiz_multiple_choice_question" %} 
            {% include amp-multiple-choice-question.html data:question %}
          {% else %} 
            Not a valid question 
          {% endif %} 
        </div>
        </section>
      {% endfor %}

    <section class="page next" [class]="quizPage{{quizId}}  < {{ count }} ? 'page next' :
             (quizPage{{quizId}}  > {{ count }} ? 'page previous' : 'page active-page')">
      <div class="max-width-1 mx-auto center">   
        <div class="final-page">
          {% assign count2 = count | times:.5 %}
          <p class="h1">Done!</p>
          <p><span [text]="countCorrect{{quizId}}">0</span>/{{count}} correct.</p>
          <amp-img width="341" height="222" class="mt3 mb4" alt="" layout="responsive" src="https://dcc.ilc.org/jw-rnd-days/cs-amp-templates/images/quizFinish2.svg"></amp-img>
        </div>
        <button class="btn btn-primary btn-flex" type="button" on="tap:AMP.setState({ quizPage{{quizId}} : 0 }), 
                                                                            quizTop{{quizId}}.scrollTo(duration=200),
                                                                            {{firstFocusable}}.focus">
          <i class="fa fa-chevron-left circle-icon btn-col"></i><span class="btn-col label">Review Questions</span>
        </button>
      </div>
    </section>
  </div>

