{% assign no-icon = 'icon-selected' %}

{% if data.infoBoxIcon == "No icon" or data.infoBoxIcon == null %}
  {% assign no-icon = "no-icon" %}
{% endif %}

<div class="infobox-component wrapper bottom-margin-3">
  <div class="max-content">
    <div class="infobox-flex-container {{ no-icon }}">
      <div class="icon-container">
        <amp-img
          width="118"
          height="115"
          alt=""
          layout="responsive"
          aria-hidden="true"
          class="icon"
          src="https://s3-componentsexperiments-sbx01-cac1-01.s3.ca-central-1.amazonaws.com/AMP/img/{{ data.infoBoxIcon | split: ' ' | first | downcase }}.svg"
        >
        </amp-img>
        {% if data.infoBoxSettings.label and data.infoBoxLabel.length > 0 %}
          <p>{{ data.infoBoxLabel }}</p>
        {% endif %}
      </div>
      <div class="section-content">
        {% if data.infoBoxSettings.label and data.infoBoxLabel.length > 0 %}
          <p class="label-without-icon">{{ data.infoBoxLabel }}</p>
        {% endif %}
        {% if data.infoBoxSettings %}
          {% if data.infoBoxSettings.header == true and data.infoBoxHeader.heading.length > 0 %}
            {%- include amp-heading.html data:data.infoBoxHeader headingClass:"info-header" headingSize:"" headingAlignment:"" -%}
          {% endif %}
        {% endif %}
        {%- for c in data.components -%}
          {% include content-model-parser.liquid item:c nestedImageInfoBox:true %}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>