<!-- To use inline JavaScript, you must add a script hash to the document head. -->
{% assign componentID = data.componentID %} {% assign activityID = data.activityID %}
{% assign session_id = data.session_id %} {% assign user_id = data.user_id %}
<div class="wrapper bottom-margin-3">
  <!-- <h1>Multiple Choice</h1> -->
  <!-- Item List -->
  <span class="learnosity-item" data-reference="{{activityID}}"></span>
</div>
