
<div class="accordion-component wrapper bottom-margin-3">
    {%- assign accordionId = 'accordion' | append: data.id -%}
    {%- assign ariaControls = '' -%}
    {%- assign btnExpandHidden = '' -%}
    {%- assign btnCollapseHidden = '' -%}
    {%- for tab in data.props.layoutState -%}
        {%- assign ariaControls = ariaControls | append: accordionId | append: '_AMP_content_' | append: forloop.index0 | append: ' ' -%}
        {%- assign btnExpandHidden = btnExpandHidden | append: accordionId | append: '_AMP_content_' | append: forloop.index0 | append: '_expanded && ' -%}
        {%- assign btnCollapseHidden = btnCollapseHidden | append: '!' | append: accordionId | append: '_AMP_content_' | append: forloop.index0 | append: '_expanded && ' -%}
    {%- endfor -%}
    {%- assign size = btnExpandHidden | size | minus: 4 -%}
    {%- assign btnExpandHidden = btnExpandHidden | slice: 0, size -%}
    {%- assign size = btnCollapseHidden | size | minus: 4 -%}
    {%- assign btnCollapseHidden = btnCollapseHidden | slice: 0, size -%}
    
        {%- if data.props.layoutState.length > 1 -%}
        <div class="right pb1">
            <button
                id="{{ accordionId }}_expandAll"
                on="tap:{{ accordionId }}.expand();"
                [disabled]="{{ btnExpandHidden }}"
                class="btn link"
            >
                <span class="expand-collapse">Expand All</span>
            </button>
                <span class="vertical-bar">|</span>
            <button
                id="{{ accordionId }}_collapseAll"
                on="tap:{{ accordionId }}.collapse();"
                disabled
                [disabled]="{{ btnCollapseHidden }}"
                class="btn link"
            >
                <span class="expand-collapse">Collapse All</span>
            </button>
        </div>
        {%- endif -%}
    
        {%comment%}Actual Accordion:{%endcomment%}
        <amp-accordion
            disable-session-states
            id="{{ accordionId }}"
            class="accordion"
            aria-label="Accordion with {{ data.props.layoutState.length }} sections"
        >
        {%- for tab in data.props.layoutState -%}
            {%comment%}Pane:{%endcomment%}
            <section
                on="expand:AMP.setState({ {{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded: true }); collapse:AMP.setState({ {{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded: false });">

                {%comment%}Pane Heading:{%endcomment%}
                <header
                    id="{{ accordionId }}_heading{{ forloop.index0 }}"
                    class="accordion-pane p2"
                    role="button"
                    aria-label="Accordion section {{ forloop.index }} of {{ data.props.layoutState.length }} {{ tab.title }} {{ pane.heading.processed }}"
                >
                    <span class="accordion-title-container">
                        <span class="accordion-title">{{ tab.title }}</span>
                        <i class="chevron-down" [class]="{{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded ? 'hidden-icon' : 'chevron-down'" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="11" viewBox="0 0 19 11" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0.49968 0.896287C0.890205 0.505762 1.52337 0.505762 1.91389 0.896287L9.20679 8.18918L16.4997 0.896287C16.8902 0.505762 17.5234 0.505762 17.9139 0.896287C18.3044 1.28681 18.3044 1.91998 17.9139 2.3105L9.91389 10.3105C9.52337 10.701 8.89021 10.701 8.49968 10.3105L0.49968 2.3105C0.109156 1.91998 0.109156 1.28681 0.49968 0.896287Z"
                                    fill="black" fill-opacity="0.55" />
                            </svg>
                        </i>
                        <i class="hidden-icon" [class]="{{ accordionId }}_AMP_content_{{ forloop.index0 }}_expanded ? 'chevron-up' : 'hidden-icon'" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M17.7071 9.70711C17.3166 10.0976 16.6834 10.0976 16.2929 9.70711L9 2.41421L1.70711 9.70711C1.31658 10.0976 0.683416 10.0976 0.292892 9.70711C-0.0976314 9.31658 -0.0976313 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976323 9.31658 -0.0976322 9.70711 0.292893L17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711Z"
                                    fill="white" />
                            </svg>
                        </i>
                    </span>
                </header>
    
                {%comment%}Pane Body:{%endcomment%}
                <div class="section-content border-left border-right px3 pt3" aria-labelledby="{{ accordionId }}_heading{{ forloop.index0 }}">
                    {%- for c in tab.components -%}
                        {% include content-model-parser.liquid item:c nestedImageTabs:true %}
                    {%- endfor -%}
                    <span class="sr-only">End of section</span>
                </div>
            </section>
        {%- endfor -%}
        </amp-accordion>
</div>