
<div class="reveal-component wrapper bottom-margin-2">
  {%- assign revealId = 'reveal' | append: data.id -%}
  {%- assign revealContent = data.props.layoutState[0] -%}
    
  {%comment%}Actual Accordion:{%endcomment%}
  <amp-accordion
    disable-session-states
    id="{{ revealId }}"
  	class="accordion"
  >
    {%comment%}Pane:{%endcomment%}
    <section
      on="expand:AMP.setState({ {{ revealId }}_AMP_content_expanded: true }); collapse:AMP.setState({ {{ revealId }}_AMP_content_expanded: false });"
		>
      {%comment%}Pane Heading:{%endcomment%}
      <header
        id="{{ revealId }}_heading"
        class="reveal-pane p2"
        role="button"
        aria-label="{{ revealContent.closedTitle }}"
      >
        <span class="reveal-title-container">
          <div class="reveal-title" [text]="{{ revealId }}_AMP_content_expanded ? '{{revealContent.title}}' : '{{revealContent.closedTitle}}'" aria-hidden="true">
            {{revealContent.closedTitle}}
          </div>
          <i class="chevron-down" [class]="{{ revealId }}_AMP_content_expanded ? 'hidden-icon' : 'chevron-down'" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.49968 0.896287C0.890205 0.505762 1.52337 0.505762 1.91389 0.896287L9.20679 8.18918L16.4997 0.896287C16.8902 0.505762 17.5234 0.505762 17.9139 0.896287C18.3044 1.28681 18.3044 1.91998 17.9139 2.3105L9.91389 10.3105C9.52337 10.701 8.89021 10.701 8.49968 10.3105L0.49968 2.3105C0.109156 1.91998 0.109156 1.28681 0.49968 0.896287Z" fill="#008800" fill-opacity="0.55" />
            </svg>
          </i>
          <i class="hidden-icon" [class]="{{ revealId }}_AMP_content_expanded ? 'chevron-up' : 'hidden-icon'" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
              	d="M17.7071 9.70711C17.3166 10.0976 16.6834 10.0976 16.2929 9.70711L9 2.41421L1.70711 9.70711C1.31658 10.0976 0.683416 10.0976 0.292892 9.70711C-0.0976314 9.31658 -0.0976313 8.68342 0.292893 8.29289L8.29289 0.292893C8.68342 -0.0976323 9.31658 -0.0976322 9.70711 0.292893L17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711Z" fill="#008800" />
            </svg>
          </i>
      	</span>
      </header>

      {%comment%}Pane Body:{%endcomment%}
      <div class="section-content border-left border-right px3 pt3" aria-labelledby="{{ revealId }}_heading">
        {%- for c in revealContent.components -%}
          {% include content-model-parser.liquid item:c nestedImageTabs:true %}
        {%- endfor -%}
        <span class="sr-only">End of section</span>
      </div>
    </section>
	</amp-accordion>
</div>