{% assign show_stripes = "" %}
{% assign hide_top_header = "" %}
{% assign hide_side_header = "" %}
{% assign breakpoint_header = "" %}
{% assign side_header_mobile = "" %}

{% if data.showStripes %}
    {% assign show_stripes = "showStripes" %}
{% endif %}

{% if data.hideTopHeader %}
    {% assign hide_top_header = "hideTopHeader" %}
{% endif %}

{% if data.hideSideHeader %}
    {% assign hide_side_header = "hideSideHeader" %}
{% endif %}

{% if data.headers.length > 4 %}
    {% assign breakpoint_header = "breakpointHeader" %}
{% endif %}

{% if 3 > data.headers.length %}
    {% assign side_header_mobile = "sideHeaderMobile" %}
{% endif %}

{% if data.headers.length == 3 %}
    {% assign side_header_mobile = "sideHeaderMobile3" %}
{% endif %}

<div class="table wrapper bottom-margin-3 {{breakpoint_header}} {{ side_header_mobile }}" tabindex="0" role="table">
    <table class="table header-5 {{ show_stripes }} {{ hide_side_header }} {{ hide_top_header }} {{data.headerType}}">
        {%- for row in data.data -%}
            {% assign head = false %}
            {% assign row_wrapper = "" %}
            {% assign skip_side_header = false %}
            {% if forloop.first == true and data.headerType == "top-header" %}
                {% assign head = true %}
                {% assign row_wrapper = "thead" %}
            {% elsif forloop.index0 == 1 and data.headerType == "top-header" %}
                {% assign row_wrapper = "tbody" %}
            {% endif %}
            {% if data.hideSideHeader and forloop.index0 == 2 %}
                {% assign skip_side_header = true %}
            {% endif %}

            {% assign role_rowheader = false %}

            {% if data.hideTopHeader == true and forloop.index0 == 1 %}
                {% assign role_rowheader = true %}
            {% endif %}

            {% if data.hideTopHeader == false or head == false %}
                {% if row_wrapper != "" %}
                    <{{row_wrapper}}>
                {% endif %}
                {% assign aria_label_title = null %}
                        <tr>
                        {%- for column in row -%}
                            {% assign class = "p1" %}
                            {% assign scope = "" %}
                            {% assign cell = "td" %}
                            {% assign aria_label = "" %}

                            
                            {% if data.hideTopHeader == true and role_rowheader == true %}
                                {% assign scope = 'role="rowheader"' %}
                            {% endif %}

                            {% if head == true %}
                                {% assign scope = 'scope="col"' %}
                                {% assign cell = "th" %}
                            {% endif %}
                            {% if forloop.index0 == 0 and data.headerType == "side-header" %}
                                {% assign cell = "th" %}
                                {% if head == false %}
                                    {% assign scope = 'scope="row"' %}
                                {% endif %}
                                {% assign aria_label_title = column[1].value %}
                            {% endif %}
                            {% if data.hideSideHeader == true and forloop.index0 == 0 and data.headerType == "side-header" %}
                                {% comment %} Skip side header if all above is true {% endcomment %}
                            {% else %}
                                {% if column[1].value == "" %}
                                    {% assign aria_label = '<span class="sr-only">Blank</span>' %}
                                {% endif %}
                                <{{cell}} class="{{class}} {{column[1].horizontalAlignment}} {{column[1].verticalAlignment}}" 
                                {{scope}}>{{aria_label}}{% if cell == "td" and aria_label_title %}<span class="hidemefromUsers">{{ aria_label_title }}</span>{% endif %}{{column[1].value}}</{{cell}}>
                            {% endif %}
                        {%- endfor -%}
                        </tr>
                {% if head == true %}
                    </thead>
                {% elsif forloop.last == true %}
                    </tbody>
                {% endif %}
            {% endif %}
        {%- endfor -%}
    </table>
</div>
