{% liquid case data.columnWidth
    when "50:50"
      assign column_width = 'fifty-fifty'
    when "30:70"
      assign column_width = 'thirty-seventy'
    when "70:30"
      assign column_width = 'seventy-thirty'
endcase %}

<div class="multi-column-component wrapper bottom-margin-2 {{column_width}} column-{{data.verticalAlignment}}">
    <div class="left-column">
        {%- for c in data.layoutState[0].components -%}
            {% include content-model-parser.liquid item:c nestedImageMultiColumn:true %}
        {%- endfor -%}
    </div>
    <div class="right-column">
        {%- for c in data.layoutState[1].components -%}
            {% include content-model-parser.liquid item:c nestedImageMultiColumn:true %}
        {%- endfor -%}
    </div>
</div>