body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
}

/* Moved this from Image.module.scss, as it can be used globally now that we're able to wrap our styles with SCSS syntax! */
.srOnly:not(:focus):not(:active) {
   clip: rect(0 0 0 0); 
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap; 
   width: 1px;
}