.tabsConfigBarContainer {
  display: absolute;
  color: white;

  .tabsConfigAppBar {
    box-sizing: none;
    background-color: transparent;

    .tabsConfigToolBar {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      width: 9.125rem;
      height: 2.5rem;
      color: #000;
      box-shadow: 0rem 0rem 0.1875rem 0rem rgba(35, 35, 35, 0.15),
        -0.0625rem 0rem 0.3125rem 0rem rgba(161, 162, 163, 0.2),
        0.1875rem 0.1875rem 0.25rem 0rem rgba(35, 35, 35, 0.15);
      background-color: white;
      min-height: 2rem;
      border-radius: 0.25rem;

      & .MuiToolbar-gutters {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .tabsConfigTooltip {
      background-color: rgba(97, 97, 97, 0.9);
      border: 0.25rem;
      color: #fff;
      height: 1.375rem;
      padding: 0.25rem 0.5rem;
      font-size: 0.625rem;
      line-height: 0.875rem;
      font-weight: 500;
      & .MuiTooltip-arrow {
        color: rgba(97, 97, 97, 0.9);
      }
    }

    .tabsConfigIconButton {
      width: 1.875rem;
      height: 1.875rem;
      padding: 0.4375rem;
      color: #000;
      background-color: white;
      border-radius: 0.25rem;
      &:hover,
      &:focus-visible {
        background-color: rgba(21, 101, 192, 0.12);
      }
      &:active {
        cursor: pointer;
        background-color: rgba(21, 101, 192, 0.12);
        > svg {
          color: #1565c0;
        }
      }
      &:disabled {
        color: rgba(0, 0, 0, 0.38);
      }
    }
  }
}
